[2021-07-19 18:43] #408 closed

[2021-07-19 19:07] Titomrock21 commented on #405
"Alldebrid" is in the abuse list, "real-debrid" is a similar site (premium link generator), but "alldebrid" is the onlyone to be in the block list (a lot of domains are similar).
Two choice, add real-debrid and other domains or remove alldebrid from list ?

[2021-07-19 23:16] fishcharlie commented on #407
@SodaWithoutSparkles There is not enough information to verify this. Making a request to this domain results in a 403 error.

Can you provide more details about where you found this domain? And some evidence or links to specific content on the domain that demonstrates these claims?

[2021-07-20 04:05] SodaWithoutSparkles commented on #407
Found ad on a pirate site:
`https://jumi.tv/vod/24639.html`

If you want the direct ad, [here](https://img.molimao.top/jm/upload/vod/20210703-1/6602026046a3115288f5e131d17cb376.gif)
And I also discoverex another NSFW ad in the progress. Will edit the post later.

[2021-07-20 04:28] SodaWithoutSparkles opened #414 "[Add request] - vs.e66.mobi"
URL you wish to be added:
vs.e66.mobi

Why you believe this should be added:
Porn

Add to list:
Porn

Other info you think we should know:
It collects personal infos and put it in the links, so I cannot send the full URL here. To get the full link, visit [this website](https://jumi.tv/vod/115229.html) **on mobile browser like chrome** and long-press on the banner ad that shake around on the bottom

[2021-07-20 04:41] SodaWithoutSparkles commented on #411
Some domains are smart enough to put a 4xx or a 5xx error when you visit the main domain on purpose, but when you have the full URL it would still load properly

[2021-07-20 11:10] iam-py-test commented on #411
Could be a C2 or something without a homepage.
However, I could find no reason why it was added and no evidence of being malicious

[2021-07-20 16:04] Titomrock21 opened #415 "[Add request] - Malware"
URL you wish to be added:

`onmarshtompor.com`

Why you believe this should be added:

detected with virustotal
https://www.virustotal.com/gui/url/71633aa2e9f1ebfbd2cf56e9828fb2389526536f016ccb82d9310de9efbdc5e3/detection

Add to list:

Malware

Other info you think we should know:

[2021-07-20 16:13] Titomrock21 opened #416 "[Add request] - Porn"
URL you wish to be added:

`www.kaotic.com`
`www.asstraffic.com`
`www.hotpornfile.org`
`www.m3uonline.com`
`nuxxxde.com`
`www.thebestporn.com`
`www.rabbitsreviews.com`
`blog.pinkworld.com`
`www.honestpornreviews.com`
`www.adultreviews.com`
`www.mrpinks.com`
`mypornadviser.com`
`www.bestpornreviews.net`
`www.porninspector.com`

Why you believe this should be added:

Add to list:

Porn

Other info y

[2021-07-21 10:51] Dennisbonke opened #417 "[Remove Request] - Abuse and Malware"
URL you wish to be removed: duo.nl

Why you believe this to be a false positive: this site is ran by the Dutch Ministry of Education and students use this site to manage their student loans.

List it is on: It’s on the abuse and malware list as far as I know, it might be on others but I don’t have all lists in my pi-hole.

Other info you think we should know:

[2021-07-22 11:43] saumyakswain opened #418 "[Remove Request] -"
URL you wish to be removed: doc.emergingthreats.net

Why you believe this to be a false positive: This is documentation maintained by Emerging Threats for snort/suricata rules etc.

List it is on: abuse

Other info you think we should know:

[2021-07-23 15:08] blocklistproject commented on #414
This issue has been resolved with issue #407

[2021-07-23 15:08] #414 closed

[2021-07-23 15:08] blocklistproject commented on #418
This has been resolved

[2021-07-23 15:08] #418 closed

[2021-07-23 15:08] blocklistproject commented on #417
This has been resolved

[2021-07-23 15:08] #417 closed

[2021-07-23 15:09] blocklistproject commented on #416
These have been added

[2021-07-23 15:09] #416 closed

[2021-07-23 15:09] blocklistproject commented on #415
This has been added

[2021-07-23 15:09] #415 closed

[2021-07-23 16:01] Homas opened #419 "[Remove Request] - opensearch.org in malware and abuse lists"
URL you wish to be removed:
opensearch.org

Why you believe this to be a false positive:
The domain was registered in 2003 and it is not know as malicious by TI vendors and antiviruses (checked on virus total).
It is an opensource and related to IT category.

List it is on:
malware and abuse

Other info you think we should know:

[2021-07-23 16:51] Titomrock21 opened #420 "[Add request] - Porn"
URL you wish to be added:

`www.sextvx.com`
`www.fux.com`
`www.vivid.com`
`www.metart.com`
`www.stasyq.com`
`www.21sextury.com`
`www.dogfartnetwork.com`
`www.camwhores.tv`
`www.asiamoviepass.com`
`www.allgravure.com`
`iqqtv.me`
`vwww.xcams.com`
`www.socialmediagirls.com`
`celeb.gate.cc`
`sexbabesvr.com`
`realitylovers.com`
`javbit.net`
`theleakbay.com`
`www.famousboard.com`

Why you believe this s

[2021-07-23 17:25] SodaWithoutSparkles commented on #414
#407 would just remove the ad, but not block the site directly.

[2021-07-23 17:27] SodaWithoutSparkles commented on #407
I think they are supposed to be porn ads, so shouldnt they be added to list porn **and** list advert as well?

[2021-07-23 18:57] iam-py-test opened #421 "[Add request] Malware domain"
URL you wish to be added:
`mycleanpc.com`
Why you believe this should be added:
This is a scam and malware
Add to list:
Malware
Other info you think we should know:
Verified using a VM

[2021-07-24 14:26] spradeep opened #422 "[Add request]"
URL you wish to be added: 'www.purewin.com'

Why you believe this should be added: gambling

Add to list: gambling

Other info you think we should know:

[2021-07-25 03:01] fishcharlie opened #423 "[Add request] keyyppoint08.com"
URL you wish to be added:

[code]

Why you believe this should be added:

Going to:

[code]

Redirects you to

[code]

Which is a Shopify phishing link. I don't think we should block the original link since it looks like a legit business. I have reported this to them tho, so hopefully they take action.

<img width="970" alt="image" src="https://user-images.githubusercontent.com/860375/126886239-04

[2021-07-25 03:10] fishcharlie commented on #423
It looks like `app.getresponse.com` is on the ads list, and `getresponse.com` is on the fraud list. I have my doubts if that is accurate. Thoughts @blocklistproject?

[2021-07-25 16:53] #423 closed

[2021-07-25 17:02] blocklistproject commented on #422
This has been added. Thank you

[2021-07-25 17:02] #422 closed

[2021-07-25 17:02] blocklistproject commented on #420
these have been added. Thank you

[2021-07-25 17:02] #420 closed

[2021-07-25 17:02] blocklistproject commented on #421
This has been added. Thank you

[2021-07-25 17:02] #421 closed

[2021-07-25 17:03] blocklistproject commented on #419
This has been removed. Thank you

[2021-07-25 17:03] #419 closed

[2021-07-25 17:03] blocklistproject commented on #411
For the time being this has been removed until we are able to positively prove that it is malware

[2021-07-25 17:03] #411 closed

[2021-07-26 06:52] #405 closed

[2021-07-26 06:54] Titomrock21 opened #425 "[Remove Request] - Abuse"
URL you wish to be removed:

`Alldebrid.com`

Why you believe this to be a false positive:

Premium link generator

List it is on:

Abuse

Other info you think we should know:

[2021-07-27 00:21] saumyakswain opened #426 "[Add request]"
URL you wish to be added:
`www.xvideos.com`
`www.xhamster.com`
`xhamster13.desi`

Why you believe this should be added: These subdomains of the porn sites are missing in the list. While, for example, access to `xvideos.com` is blocked, the same thing is accesible through `www.xvideos.com`.

Add to list: porn

Other info you think we should know:

[2021-07-27 11:02] Titomrock21 opened #427 "[Add request] - Porn"
URL you wish to be added:

`www.nu-bay.com`
`porno333.com`
`fakecabxxx.com`
`www.cartoonporno.xxx`
`www.hdpornt.com`
`www.freudbox.com`
`www.longporn.com`
`www.eroxia.com`
`www.x18.xxx`
`www.fakeporn.tv`
`voyeurboss.com`
`www.alotporn.com`
`www.porntitan.com`
`www.vpornvideos.com`
`www.freeporn.com`
`www.tryboobs.com`

Why you believe this should be added:

Add to list:

Porn

Other info you think

[2021-07-27 12:11] iam-py-test opened #428 "[Add request] Browser locker"
URLs you wish to be added:
[code]
Why you believe this should be added:
This website locks the user’s browser with a fake alert claiming to be from Windows Defender, and tricks the user into calling a phone number controlled by the attacker (who probably will then do a tech support scam).
See https://github.com/DandelionSprout/adfilt/issues/228 for more information
Add to list:
Fraud, scams, malwa

[2021-07-27 19:29] Titomrock21 opened #430 "[Add request] - Redirect"
URL you wish to be added:

`districtprovocativeforceful.com`
`freememoryapp.site`

Why you believe this should be added:

Add to list:

Redirect

Other info you think we should know:

[2021-07-28 13:53] saumyakswain commented on #426
Updated, thanks.

[2021-07-29 00:51] blocklistproject commented on #428
I just tested all these and they do not redirect to a fake alert. It may have changed or been taken down since you tested. I will add the redirects.

[2021-07-29 00:52] iam-py-test commented on #428
@blocklistproject checking...
Are you in the US?

[2021-07-29 00:53] blocklistproject commented on #428
@iam-py-test yes

[2021-07-29 00:54] iam-py-test commented on #428
@blocklistproject I think you need a certain url

[2021-07-29 00:57] iam-py-test commented on #428
@blocklistproject `rockcabs247.in` is the real browser exploit (it does seem to have been taken down to avoid blocklisting; maybe the person behind it noticed it being blocked by major AVs and blocklists & went into hidding)

[2021-07-29 01:02] blocklistproject commented on #426
These have been added. Thank you

[2021-07-29 01:02] #426 closed

[2021-07-29 01:02] blocklistproject commented on #430
These have been added. Thank you

[2021-07-29 01:02] #430 closed

[2021-07-29 01:02] blocklistproject commented on #427
These have been added. Thank you

[2021-07-29 01:02] #427 closed

[2021-07-29 01:03] blocklistproject commented on #428
For now I have added the redirects and will close this but will check on the other every now and again.

[2021-07-29 01:03] #428 closed

[2021-07-29 01:18] iam-py-test commented on #428
I will try to keep an eye on it & will open another issue if it comes back

[2021-07-29 12:57] Titomrock21 opened #431 "[Add request] - Porn"
URL you wish to be added:

`www.fapcat.com`
`watch-my-gf.com`
`yepxxx.com`
`fapster.xxx`
`watchmygf.tv`
`watchmygf.mobi`
`www.realnakedgfs.com`
`porn7.tv`
`18abused.com`
`pornmeka.com`
`loveporn.xxx`
`www.xxxmaturevideos.com`
`www.jacquieetmicheltv.net`
`fuqqt.com`
`ingyenporno.eu`
`www.12milf.com`
`leroyaumeduchips.com`
`aflamsexnek.com`
`clapfap.com`
`xfrenchies.com`
`www.cremz.com`
`in35.com`
`

[2021-07-29 12:58] Titomrock21 opened #432 "[Add request] - Malware"
URL you wish to be added:

`d2swesq5vbnhha.cloudfront.net`

Why you believe this should be added:

Add to list:

Malware

Other info you think we should know:

[2021-07-29 13:38] blocklistproject commented on #432
Can you provide more details as to why

[2021-07-30 03:56] fishcharlie opened #433 "[Remove Request] - metrics.icloud.com"
**URL you wish to be removed:**

[code]

**Why you believe this to be a false positive:**

Couple of things here.

1. I can find no evidence that this domain is used for serving ads. It looks solely dedicated to metrics and telemetry.
2. Apple's privacy policies and ease of opting out of these metrics/analytics are incredibly easy (simple toggle in settings).

I guess you could make an argument th

[2021-07-30 09:43] Titomrock21 opened #435 "[Add request] - Redirect"
URL you wish to be added:

`windscreenregimepros.com`

Why you believe this should be added:

Add to list:

Redirect

Other info you think we should know:

[2021-07-30 09:44] Titomrock21 commented on #432
I close issue because it seems offline

[2021-07-30 09:44] #432 closed

[2021-07-30 15:41] #401 closed

[2021-07-31 17:23] crt333 opened #436 "[Remove Request] -"
URL you wish to be removed:
config.outturner.com

Why you believe this to be a false positive:
The CNN app on android doesn't start with this blocked

List it is on:
Ads

Other info you think we should know:

[2021-08-01 15:29] blocklistproject commented on #436
This has been removed. Thank you

[2021-08-01 15:29] #436 closed

[2021-08-01 15:29] blocklistproject commented on #433
This has been removed from ads but added to tracking. Thank you

[2021-08-01 15:29] #433 closed

[2021-08-01 15:30] blocklistproject commented on #435
This has been added. Thank you

[2021-08-01 15:30] #435 closed

[2021-08-01 15:30] blocklistproject commented on #431
These have been added. Thank you

[2021-08-01 15:30] #431 closed

[2021-08-02 01:38] p1r473 opened #437 "[Remove Request] - Blocking Amazon Cognito - cognito-identity.us-east-1.amazonaws.com"
**URL you wish to be removed**: cognito-identity.us-east-1.amazonaws.com

**Why you believe this to be a false positive:**
Amazon Cognito is required for some AWS apps.
For me, it is breaking SensorPush app.
"Amazon Cognito helps you create unique identifiers for your end users that are kept consistent across devices and platforms. Amazon Cognito lets you add user sign-up, sign-in, and access cont

[2021-08-02 07:58] spirillen opened #438 "Ip addresses in a hosts file?"
Hey guys, as I have been monitoring your repo for some time and used it as a indexing / lookup in my [hosts-sources](https://github.com/Import-External-Sources/hosts-sources) I was updating the import script with your alt-version (saving me the process time of cleaning up the hosts file) I spotted the following IP's in the lists.

https://github.com/blocklistproject/Lists/blob/2472bed677f1b269970b

[2021-08-02 08:05] spirillen commented on #391
You should, if https://github.com/blocklistproject/Lists/issues/438 == True, add a validating for IP addresses as that isn't supported by hosts files.

[2021-08-02 09:56] fishcharlie commented on #391
@spirillen Sounds completely off topic and unrelated to this issue.

[2021-08-02 10:04] fishcharlie commented on #438
@spirillen I don't think this is the most urgent issue. I've yet to hear of any reports of this causing errors or problems for popular DNS servers, and there might be someone who wants to make use of that data (I'm currently in the process of updating my DNS server to check responses against the block lists IP addresses).

I don't think there is anywhere that says this claims to be a host lists fi

[2021-08-02 11:55] spirillen commented on #438
Are you speaking of RPZ??

That is why I wrote

[2021-08-02 11:59] spirillen commented on #391
Oh yeah, it should have been in another issue with the linter... (Which I can't find now :unamused: ) my bad

[2021-08-02 15:58] kprkpr opened #441 "[Add request] Porn"
URL you wish to be added:
cdnlt3.serviporno.com
cdnlt2.serviporno.com
pics2.serviporno.com
pics.serviporno.com
www.serviporno.com
onlyfans.com
www.gifs-porno.com
img.porn18videos.com
porn18videos.com
cdn77-vid.xvideos-cdn.com
www.fapvidhd.com
www.pasionmujeres.com
www.pornogaygratis.net
www.canalporno.com
static.pornogratisdiario.com
embed.pornogratisdiario.com
www.pornogratisdiario.com
api.ozeex.

[2021-08-02 18:51] spirillen commented on #441
As you might find additional info on the links below I'll thanks for the rest as new for [Porn Records](https://mypdns.org/my-privacy-dns/porn-records)

serviporno.com: https://mypdns.org/my-privacy-dns/porn-records/-/issues/182
onlyfans.com: https://mypdns.org/my-privacy-dns/matrix/-/issues/1812 (Tracking), https://mypdns.org/my-privacy-dns/porn-records/-/issues/25 (Adult)
xvideos-cdn.com: https:

[2021-08-02 19:25] kprkpr commented on #441
Sorry for duplicating someones.. Seems that opnsense with so much hosts files didn't blocked it, but maybe its because its a 61MB hosts file 😂 I hate hosts files, so large

[2021-08-02 19:41] spirillen commented on #441
Then switch to DNS with full [RPZ](https://mypdns.org/mypdns/support/-/wikis/rpz) support.... like powerdns recursor then you have build in recursor, blacklist and whitelist and no more f**ked up dumb hosts files. That what [mypdns](https://mypdns.org/my-privacy-dns/matrix) is all about.

Never mind, there are maybe not dubles as I haven't checked within this project, only the linked ones

[2021-08-03 12:23] iam-py-test opened #442 "[Remove Request] - virussign.com"
URL you wish to be removed:
`virussign.com`

Why you believe this to be a false positive:
I am fairly sure this is a site for downloading malware onto a VM for testing purposes.

List it is on:
Malware

Other info you think we should know:

[2021-08-03 12:37] iam-py-test opened #443 "[Remove Request] - malc0de.com"
URL you wish to be removed:
`malc0de.com`

Why you believe this to be a false positive:
This website exists to allow malware researchers to find malware links.
While this site might be dangerous if you don't know what you are doing, it is not malware

List it is on: Malware

Other info you think we should know:

[2021-08-04 08:13] spradeep opened #444 "[Remove Request] -"
URL you wish to be removed: jsso.indiatimes.com

Why you believe this to be a false positive: this is used to login using Facebook/Google etc.

List it is on:

Other info you think we should know: https://timesofindia.indiatimes.com/toi-plus? click on sign in with google

[2021-08-04 19:06] iam-py-test opened #445 "[Add request] Phishing"
URL you wish to be added:
`office-un-peacekeeping.com`
Why you believe this should be added:
As reported in https://isc.sans.edu/forums/diary/Pivoting+and+Hunting+for+Shenanigans+from+a+Reported+Phishing+Domain/27710/, this domain pretends to the UN peacekeeping website:
![image](https://user-images.githubusercontent.com/84232764/128240069-036a0dac-7583-439b-8959-0134e302d4b9.png)

Add to list:
Ph

[2021-08-06 12:28] iam-py-test commented on #444
@spradeep please provide what list it is in.

[2021-08-06 12:42] spradeep commented on #444
Sorry for the mistake, found in https://blocklistproject.github.io/Lists/alt-version/ads-nl.txt

[2021-08-06 12:43] iam-py-test commented on #444
@spradeep Thanks

[2021-08-06 12:53] iam-py-test commented on #444
@spradeep @blocklistproject I am working on a PR to fix this issue

[2021-08-06 14:45] iam-py-test commented on #444
@spradeep Is there seem to be any breakage from the blocking of `jssocdn.indiatimes.com`

[2021-08-07 13:07] spradeep commented on #444
Yes,    jssocdn.indiatimes.com is blocked too, in the same list, ads

[2021-08-07 13:17] iam-py-test commented on #444
Is there any breakage? Should that be removed as well?

[2021-08-07 13:29] spradeep commented on #444
I was able to login with whitelisting just **jsso.indiatimes.com**, doesn't look like unblocking **jssocdn.indiatimes.com** is required.

[2021-08-08 08:00] spradeep opened #450 "[Add request]"
URL you wish to be added: www.purewin.com

Why you believe this should be added: gambling

Add to list: gambling

Other info you think we should know:

[2021-08-08 08:05] spradeep opened #451 "[Add request]"
URL you wish to be added: weaveradrenaline.com

Why you believe this should be added: redirects to other sites

Add to list: redirects

Other info you think we should know:

[2021-08-08 13:42] peredoxx opened #452 "[Remove Request] - ||amazonaws.com^"
URL you wish to be removed:
||amazonaws.com^

Why you believe this to be a false positive:

<a href="https://imgbb.com/"><img src="https://i.ibb.co/cxmbKPH/false-positive-amazonaws1.png" alt="false-positive-amazonaws1" border="0"></a>

<a href="https://ibb.co/56S5mYS"><img src="https://i.ibb.co/t4vbgZv/false-positive-amazonaws2.png" alt="false-positive-amazonaws2" border="0"></a>

<a href="https:/

[2021-08-09 06:47] spirillen commented on #450
The only thing I find on that domain is browser fingerprinting by Cloudflare...

[code]

[2021-08-09 06:50] spirillen commented on #451
<details><summary>note to self (@spirillen)</summary>

https://mypdns.org/my-privacy-dns/matrix/-/issues/2353

</details>

[2021-08-09 07:21] spradeep commented on #450
https://imgur.com/a/Aibvinz

[2021-08-09 09:35] oelmekki opened #453 "Why is the US Green Party's site blocked?"
www.gp.org is blocked in phishing.txt.

I've bissected the repository for it, and there is no explanation, it's been introduced in 0f11189d6338bb0695d8dae5c2ae7ec6e27fe541 when the list was created, with thousands of other domains.

I can't either find any reference to a phishing problem with that site - current or historical - which means it looks like the site was blocked for political reasons,

[2021-08-09 12:00] stuaxo commented on #453
After from re-adding this, it potentially means the whole list should be checked entries that shouldn't be there.

[2021-08-09 12:00] nero commented on #453
Torch and Pitchfork store opened at https://news.ycombinator.com/item?id=28114503

[2021-08-09 12:10] austinheap commented on #453
It’s also listed in VirusTotal. Content like this puts the conspiracy to rest: https://webcache.googleusercontent.com/search?q=cache:HWH6z4cPUYMJ:https://www.gp.org/shamim4s/_streaming-live_-_2020_tokyo_olympic_games_live_free_23th_july_2021+&cd=15&hl=en&ct=clnk

[2021-08-09 14:59] hentaij666 commented on #453
Just saw your post and I have no problem accessing the US site with and without a VPN, so I am not sure if the problem that you reported on has been fixed.

[2021-08-09 16:11] Simpoltin opened #454 "README.md AdGuard Links incorrect"
I hit the https://awesomeopensource.com/project/blocklistproject/Lists site while researching a possible switch from PiHole to AdGuard. I noticed the AdGuard links were dead and looking through the repo I noticed the links in the README were pointing to incorrect paths.

For example the abuse list link for AdGuard points to: https://blocklistproject.github.io/Lists/adguard/abuse-ads.txt

This lead

[2021-08-09 16:19] Simpoltin commented on #454
I have created pull-request #455 to address these fixes.

[2021-08-10 17:50] SodaWithoutSparkles opened #456 "[Add request] - multiples"
URL you wish to be added:
discorcl.link
stearncornmunity.ru.com
discrodnitro.org

Why you believe this should be added:
Fake website and phishing

Add to list:
Phishing

Other info you think we should know:
⚠️ BROWSE AT OWN RISK, may get account stolen, use incognito to prevent cookie-stealing, DO NOT enter any password or PIN
Samples:
[code]

[2021-08-10 18:00] #454 closed

[2021-08-10 18:00] #445 closed

[2021-08-10 18:00] #441 closed

[2021-08-10 18:00] #443 closed

[2021-08-10 18:00] #444 closed

[2021-08-10 18:07] blocklistproject commented on #453
We have absolutely no political bias represented in these lists. Now I would be more than happy to look into this issue. If you don't mind listing which list you say the domain has been included in and properly filling out the issue form.

[2021-08-10 18:09] blocklistproject commented on #453
This issue will be closed so that you can redo the issue request. Lease feel free to link this issue in your new request. In the mean time I will look through the lists for the domain. Thank you

[2021-08-10 18:09] #453 closed

[2021-08-10 18:10] blocklistproject commented on #438
This has been addressed in a pull. Please let us know if the issue still remains. Thank you!

[2021-08-10 18:10] #438 closed

[2021-08-10 18:17] blocklistproject commented on #452
This issue has been resolved. Thank you!

[2021-08-10 18:17] #452 closed

[2021-08-10 18:19] blocklistproject commented on #442
This issue has been resolved. Thank you!

[2021-08-10 18:19] #442 closed

[2021-08-10 18:24] blocklistproject commented on #425
This issue has been fixed. I did leave it on the "redirect" list because it is a redirect site.

[2021-08-10 18:24] #425 closed

[2021-08-10 19:53] spirillen commented on #425
@blocklistproject

Can you show an example of that? as I can't find anyone else who blacklist this domain

`hosts-sources$ git grep 'Alldebrid.com'`

[2021-08-10 22:24] Nick2bad4u opened #457 "[Remove Request] - acorns-statements-production.s3-us-west-1.amazonaws.com"
URL you wish to be removed: https://acorns-statements-production.s3-us-west-1.amazonaws.com

Why you believe this to be a false positive: This is a server/url used to download PDF statements from Acorns Investing.

List it is on: Crypto list

Other info you think we should know:

[2021-08-11 01:27] blocklistproject commented on #456
These have been added. Thank you!

[2021-08-11 01:29] blocklistproject commented on #451
This has been added. Thank you!

[2021-08-11 01:29] #451 closed

[2021-08-11 01:33] blocklistproject commented on #450
This has been added. Thank you

[2021-08-11 01:35] blocklistproject commented on #457
This should have been fixed with issue #452. Please let us know.

[2021-08-11 01:35] #457 closed

[2021-08-11 01:40] blocklistproject commented on #437
This has been fixed. Thank you!

[2021-08-11 01:40] #437 closed

[2021-08-11 01:45] blocklistproject commented on #397
This has been resolved. Thank you!

[2021-08-11 01:45] #397 closed

[2021-08-11 12:42] SodaWithoutSparkles commented on #407
browse

[code]
On mobile for qlogo.cn

[2021-08-11 12:59] smcclosr opened #458 "Domain channelwebsdks.azureedge.net in Ads"
This is not really an add or remove request, but more of documentation issue.  If the domain channelwebsdks.azureedge.net is blocked then the program Quick Assist will not work,  needs to be added to whitelist.  Here is supporting documentation:

https://docs.microsoft.com/en-us/windows/client-management/quick-assist

[2021-08-11 17:19] SodaWithoutSparkles commented on #407
https://user-images.githubusercontent.com/64138578/129074068-a373c6e1-b8c4-40d3-941e-9a93353af1a3.mp4

I got an app that shows elements on mobile. According to that I saw the qlogo.cn

Also I saw that in my pihole query, and after blocking it I dont see the banner ad

[2021-08-12 13:48] Titomrock21 opened #459 "[Add request] - Porn"
URL you wish to be added:

`www.jerkmatelive.org`
`www.secretfriends.com`
`www.royalcamslive.com`
`www.malayporn.space`
`www.jav777.xyz`
`www.520cc.cc`
`javdragon.com`
`javdisk.com`
`javfree.sh`
`javbraze.com`
`kissjav.com`
`www5.javmost.com`
`javcl.com`
`www3.javfun.me`
`watchjavonline.com`
`www.javjack.com`
`javfull.net`
`bejav.net`
`javmap.com`
`www.cameraboys.com`
`www.curvyerotic.com`
`www.pa

[2021-08-12 21:33] sathyacs opened #460 "[Remove Request] -"
URL you wish to be removed: netflixreality.com

Why you believe this to be a false positive:

Netflix recently launched a reality casting site for consumers to upload their casting video: http://netflixreality.com/ . The domain netflixreality.com is recorded in some of your files as suspicious. We received reports from consumers that they are not able to load the site due to warning messages. We c

[2021-08-12 21:56] spirillen commented on #460
To Netflix, Senior Security Engineer @sathyacs

Please secure your site contents from malicious software like:

SpyWare
[code]

[code]

ScamWare
[code]

So your consumers can using the site without any issues.

[2021-08-12 21:57] blocklistproject commented on #460
This has been removed. Thank you!

[2021-08-12 21:57] #460 closed

[2021-08-16 16:40] Titomrock21 opened #462 "[Add request] - Malware ? redirect ?"
URL you wish to be added:

`secure.protect-pc-plus.xyz`

Why you believe this should be added:

![image](https://user-images.githubusercontent.com/76562017/129598828-233b709f-d34a-478f-bfcd-8d483bd66db2.png)

Add to list:

Malware ? redirect ?

Other info you think we should know:

[2021-08-16 19:25] spirillen commented on #462
Seems unneeded

[code]

![image](https://user-images.githubusercontent.com/44526987/129618637-e2438f7a-e348-4363-be2c-0750fac2acce.png)

[2021-08-18 15:59] Titomrock21 commented on #462
Site seems offline

[2021-08-18 15:59] #462 closed

[2021-08-18 19:03] p1r473 opened #463 "[Remove Request] - zombo.com"
URL you wish to be removed: zombo.com

Why you believe this to be a false positive: Its not a malicious site. Its more of a joke site

List it is on: ads.txt

Other info you think we should know:

[2021-08-18 23:38] spirillen commented on #462
HTTP status code 403 is not offline, it means ONLINE, it just tells you, you shall not pass, thanks Gandalph :mage:

[2021-08-21 12:05] EndlessEden opened #464 "[Remove Request] - 2miners.com - ads list"
URL you wish to be removed: 2miners.com

Why you believe this to be a false positive: Its a popular crypto-mining pool

List it is on: ads

Other info you think we should know:
I dont know why it was added to ads in the first place?

[2021-08-22 12:08] iam-py-test commented on #463
@blocklistproject this website does seem just to be a joke site (it is rated as Entertainment by most AVs and is not detected as malware/ads by any)
See https://www.virustotal.com/gui/url/a3a20d3bf1f255d7943c079dd818dad170cad00d985387d8ab8d196187495f97/community
Maybe there are ads/adfiltes on other parts of it?

[2021-08-24 00:59] blocklistproject commented on #464
This has been fixed, Thank you!

[2021-08-24 00:59] #464 closed

[2021-08-24 01:01] blocklistproject commented on #459
These have been added. Thank you!

[2021-08-24 01:01] #459 closed

[2021-08-24 01:02] blocklistproject commented on #463
This has been fixed, Thank you!

[2021-08-24 01:02] #463 closed

[2021-08-24 01:03] #458 closed

[2021-08-24 16:04] Titomrock21 opened #466 "[Add request] - Porn"
URL you wish to be added:

`www.oyeloca.com`
`www.blackvalleygirls.com`
`africansexslaves.com`
`www.mommysgirl.com`
`www.dyked.com`
`www.webyoung.com`
`tits-guru.com`
`www.babesmachine.com`
`www.xcams.com`
`www.fetishnetwork.com`

Why you believe this should be added:

Add to list:

Porn

Other info you think we should know:

[2021-08-27 20:17] Habetdin opened #467 "[Remove Request] - ozon.ru"
URL you wish to be removed:
ozon.ru

Why you believe this to be a false positive:
That's legit Russian marketplace website

List it is on:
Malware

[2021-08-28 19:23] iam-py-test opened #468 "[Add request] Malware domains"
URL you wish to be added:
[code]
Why you believe this should be added:
These are malware
Add to list:
Malware
Other info you think we should know:
These domains are from my blocklists and were verified before adding

[2021-08-29 17:03] iam-py-test opened #469 "[Remove Request] - ads-twitter[.]com"
URL you wish to be removed:
`ads-twitter.com`

Why you believe this to be a false positive:
I am pretty sure this is not malware; I think it is twitter ads.
See https://www.virustotal.com/gui/url/5af5a554e0645a6d33343a2b713d63e336e54e9b952edc779cb4ae6bd3c628cf/community

List it is on: Antimalware

Other info you think we should know:
Thank you for maintaining malware, phishing, ad, porn, etc bloc

[2021-08-29 23:34] spirillen commented on #469
Yes this is AdWare:

Link to my archive of the domain: https://mypdns.org/my-privacy-dns/matrix/-/issues/873

[2021-08-29 23:56] iam-py-test commented on #469
@spirillen
Domains used for advertising should not be blocked as malware, they should be blocked as ads

I am not in any way on the side of the ad guys; please do not interpret this as saying ads should not be blocked

[2021-08-30 15:46] fishcharlie commented on #469
@iam-py-test I do not believe we should be relying so heavily on 3rd party tools to determine if a domain should or shouldn't be included on these lists. Those 3rd party tools are not reliable at all, and open the door to a world of problems.

cc/ @blocklistproject

[2021-08-30 15:57] Titomrock21 opened #470 "[Add request] - Ads"
URL you wish to be added:

`d2e6cicod3b62h.cloudfront.net`

Why you believe this should be added:

Add to list:

Ads

Other info you think we should know:

[2021-08-30 16:00] Titomrock21 opened #471 "[Add request] - Redirect"
URL you wish to be added:

`shiftintercoursebridge.com`
`tivibyca.com`
`go.c4ptainr0berts.xyz`

Why you believe this should be added:

Add to list:

Redirect

Other info you think we should know:

[2021-08-30 18:30] spirillen commented on #469
@iam-py-test Yes they are only used by twitter to serve ads. and I have no collected information that indicates anything else.

@fishcharlie this "third-party" "tool" which is a declared information collecting about domains and there purpose: https://archive.mypdns.org/project/view/15/

[2021-08-30 19:18] blocklistproject commented on #470
Do you have supporting info?

[2021-08-30 19:27] blocklistproject commented on #468
These have been added, Thank you

[2021-08-30 19:27] #468 closed

[2021-08-30 23:28] iam-py-test commented on #469
I guess this issue can be closed?

[2021-08-31 13:13] jinksy31337 opened #472 "[Add request] Porn"
URL you wish to be added:

pornhubs.video
hdtube.porn
youngporn-xxx.com
cuntporntube.com
thelittleslush.com
boobychristmas.com
moveyourhand.com

Why you believe this should be added:  Porn Related

Add to list: Porn

Other info you think we should know:

[2021-08-31 13:51] spirillen commented on #471
What makes `go.c4ptainr0berts.xyz` a valid candidate?? Any logs or references to external information about this?

![image](https://user-images.githubusercontent.com/44526987/131514572-cffd5154-75f6-482e-b701-bd93474da931.png)

[2021-09-01 15:24] Wunderharke opened #473 "[Remove Request] - a-msedge.net"
URL you wish to be removed:

a-msedge.net

Why you believe this to be a false positive:

Several Microsoft websites are served as subdomains via CNAME so blocking this prevents e.g login at www.live.com (a-0010.a-msedge.net).

List it is on:

ads.txt

Other info you think we should know:

I'm aware that there are possibly also ads served at this domain however (at least for me) this list is not us

[2021-09-01 16:21] Titomrock21 opened #474 "[Add request] - Porn"
URL you wish to be added:

`www.pixytube.com`

Why you believe this should be added:

Add to list:

porn

Other info you think we should know:

[2021-09-01 16:21] Titomrock21 opened #475 "[Add request] - Redirect"
URL you wish to be added:

`online-dating-steps.com`

Why you believe this should be added:

Add to list:

Redirect

Other info you think we should know:

[2021-09-01 20:22] iam-py-test opened #476 "[Add request] A ton of scam domains"
URLs you wish to be added:
[code]
Why you believe this should be added:
These domains are involved in scamming
Add to list:
Scam, maybe fraud
Other info you think we should know:
See https://github.com/uBlockOrigin/uAssets/issues/9848 for more information

[2021-09-02 07:48] Titomrock21 commented on #470
it seems offline

[2021-09-02 07:48] #470 closed

[2021-09-06 20:21] iam-py-test opened #477 "[Remove Request] - 007-gateway[.]com"
URL you wish to be removed:
`007-gateway.com`

Why you believe this to be a false positive:
This domain is detected by no AV engines (on VT/URLVoid + Norton, McAfee, and Malwarebytes) and its WHOIS records seem offline. Also, I can not find why this domain was added

List it is on:
Malware

Other info you think we should know:

[2021-09-07 20:29] bgman111111 opened #478 "PLEASE BAN payin7.com THIS IS scam website"
PLEASE help. we try buy hard disk and it cost 200 euros so payin7.com get from us money 48.xx euros for 4 monts to pay for hard disk from speedler.com and when i hear it will on my computer so i cancel hard disk. include they have phone that DONT have humankind support,. and th has e-mail that DON'T work tiendas@payin7.com this is email only for shops and THERE THEY SCREAM if peoples are NOT FROM

[2021-09-08 14:10] Titomrock21 opened #479 "[Add request] - Redirect"
URL you wish to be added:

`click.expmediadirect1.com`

Why you believe this should be added:

Add to list:

Redirect

Other info you think we should know:

[2021-09-08 16:52] spradeep opened #480 "[Add request]"
URL you wish to be added:  https://phabys.com/prod/redirect.html?lu=https%3A%2F%2Fblog.bybit.com%2Fen-us%2Fpromotions%2F30-in-welcome-bonuses-2%3Fmedium%3Dpaid_displayp%26source%3DAdcash%26channel%3Dpaid_%26campaign%3DID_Always_on%26term%3DAll_popunder%26content%3DBonus30USD_V1%26dtpid%3D1630997915483%26cid%3D16311198561941643837203066861227064

Why you believe this should be added: redirect

Add

[2021-09-09 02:07] winklevos opened #481 "[Add request] Porn"
URL you wish to be added:

chaturbate.com
myfreecams.com
m.myfreecams.com

Why you believe this should be added:

Porn

Add to list:

porn

Other info you think we should know:

[2021-09-09 15:01] CYB3RL4MBD4 opened #482 "[Remove Request] - behance.net"
URL you wish to be removed:
behance.net

Why you believe this to be a false positive:
It is a site for graphical creative works, designer work.

List it is on:
abuse.txt
ads.txt

Other info you think we should know:
A graphical designer gave me his link to show me his work and as I could not access it, I checked in my pi-hole why and it was on these two lists.

[2021-09-09 15:14] ryancrump opened #483 "[Remove Request] - halftimebeverage.com"
URL you wish to be removed: halftimebeverage.com & www.halftimebeverage.com

Why you believe this to be a false positive: Half Time Beverage is a beer store operating in NY and selling beer online.

List it is on: fraud.txt

Other info you think we should know:

[2021-09-09 15:34] cryptogap commented on #480
I am going to close this. We can not add exact URLs.

[2021-09-09 15:34] #480 closed

[2021-09-09 15:38] cryptogap commented on #473
This has been fixed. Thank you!

[2021-09-09 15:38] #473 closed

[2021-09-09 15:38] cryptogap commented on #483
This has been fixed. Thank you!

[2021-09-09 15:38] #483 closed

[2021-09-09 15:38] cryptogap commented on #466
Added, Thank you!

[2021-09-09 15:38] #466 closed

[2021-09-09 15:39] cryptogap commented on #481
Added, Thank you!

[2021-09-09 15:39] #481 closed

[2021-09-09 15:39] cryptogap commented on #474
Added, Thank you!

[2021-09-09 15:39] #474 closed

[2021-09-09 15:39] cryptogap commented on #472
Added, Thank you!

[2021-09-09 15:39] #472 closed

[2021-09-09 15:39] #479 closed

[2021-09-09 15:39] cryptogap commented on #477
This was removed. Thank you

[2021-09-09 15:39] #477 closed

[2021-09-09 15:42] cryptogap commented on #469
At this time this will be closed. Please feel free to open another issue request if you feel you have additional info. Thank you very much for being a valued contributing member of the community!

[2021-09-09 15:42] #469 closed

[2021-09-09 15:52] cryptogap commented on #478
I have reviewed what happened. I am truly sorry for the issues you have had to deal with but unfortunately we are not able to deem the site a scam base on this singular issue. I hope that you are able to find a solution.

[2021-09-09 15:52] #478 closed

[2021-09-09 15:54] cryptogap commented on #476
Thank you for including your supporting documents. These have been added.

[2021-09-09 15:54] #476 closed

[2021-09-09 18:39] chiefgecko opened #484 "[Remove Request] - api.punchh.com"
https://blocklistproject.github.io : api.punchh.com

blocks Pei Wei (peiwei.com) online ordering @api.punchh.com
=====
 Match found in https://raw.githubusercontent.com/StevenBlack/hosts/master/hosts:
   go.punchh.com
 Match found in https://blocklistproject.github.io/Lists/ads.txt:
   api.punchh.com       <<<<< whitelisting just this one returns peiwei online ordering to working state
   apidq.pu

[2021-09-09 23:43] TrikkStar opened #485 "[Remove Request] - songbird.cardinalcommerce.com"
URL you wish to be removed:
songbird.cardinalcommerce.com

Why you believe this to be a false positive:
This is not an ad domain

List it is on:
ads

Other info you think we should know:
Blocking this domain breaks payment processing on the Epic Games Store, causing purchases to fail

[2021-09-10 01:59] spirillen commented on #478
The domainname it self should have sounded the big red suspicious alarm ...

[2021-09-10 14:44] alihasan opened #486 "[Remove Request] - everydayhealth.com"
URL you wish to be removed:
everydayhealth.com

Why you believe this to be a false positive:
I work for EverydayHealth (a health and wellness content company) and recently had PiHole deployed on my home network; I was surprised to find everydayhealth.com on the malware and abuse blocklists.  Can I request for our domain to be reviewed and removed from these lists?  EverydayHealth seeks to provide

[2021-09-10 16:50] Titomrock21 opened #487 "[Add request] - Porn"
URL you wish to be added:

`landing.babesnetwork.com`
`tgp.hentaiprosnetwork.com`
`bestpornstars.xxx`
`nichepornsites.com`
`www.kink.com`
`www.ballbustingtube.com`
`playsexgames.xxx`
`h-flash.com`
`adultgameson.com`
`www.girlvanic.com`
`www.clicporn.com`
`hamstube.com`
`bb.camsoda.com`
`hentaifucking.com`
`fuktxxx.com`
`tour.camsoda.com`
`www.sexei.net`
`lp.nurumassage.com`
`www.familysexmassage.c

[2021-09-10 21:53] bgman111111 commented on #478
Are you blind. There is much peoples complaining against this shit.

Here you can see much PEOPLES complaint from payin7.com:

https://www.ocu.org/reclamar/lista-reclamaciones-publicas/reclamacion-publica?referenceId=CPTES00836529-01 - Scam when charging first installment of non-existent financing

https://www.ocu.org/reclamar/lista-reclamaciones-publicas/reclamacion-publica?referenceId=CPTES01330

[2021-09-11 10:29] Trainax opened #488 "[Remove Request] - CDBurnerXP"
URL you wish to be removed:

- `cdburnerxp.se`
- `www.cdburnerxp.se`

Why you believe this to be a false positive:

CDBurnerXP is a software to burn CDs and DVDs and it's not malware. [Wikipedia page](https://en.wikipedia.org/wiki/CDBurnerXP)

List it is on:

- Abuse
- Malware

Other info you think we should know:

[2021-09-11 17:17] iam-py-test opened #489 "[Remove Request] - 007freepics[.]com"
URL you wish to be removed:
`007freepics.com`

Why you believe this to be a false positive:
I can't find any evidence this site is malware;
https://www.virustotal.com/gui/url/3e03630b2970c4f987a9eabb957e6959a1bcfa81b89b585791953b1ac9e99c03/detection
https://safeweb.norton.com/report/show?url=007freepics.com
https://www.siteadvisor.com/sitereport.html?url=007freepics.com
https://sitecheck.sucuri.ne

[2021-09-11 23:23] spirillen commented on #478
I understand your frustration, but this issue is for now not a scam problem as it is seriously bad costumer relation.

I have also visited the page, but I do not understand Spanish/portogese, so what is it who have "paid for?? the entire site loos spokie to me.

And the whois information is withheld. So why is it you transferred any money to them and for what in exchange?

[2021-09-12 01:32] spirillen commented on #489
I don't see any Malware reports on any of the links submitted

No need for this in any porn lists, it's redirect to [bestfreecams.club](https://mypdns.org/my-privacy-dns/porn-records/-/issues/616)

PS: be careful where you click (crbck.link)

[2021-09-12 11:45] iam-py-test commented on #489
@spirillen that is why I made this report

[2021-09-12 11:50] iam-py-test commented on #489
@spirillen the link you posted requires sign in

[2021-09-12 15:14] Titomrock21 opened #490 "[Remove Request] -"
URL you wish to be removed:

`www.gamekult.com`
`image.jeuxvideo.com`

Why you believe this to be a false positive:

"gamekult.com" is just a videogame information site

List it is on:

Other info you think we should know:

[2021-09-12 18:47] spirillen commented on #489
Yes as also mentioned here: https://github.com/uBlockOrigin/uAssets/issues/9968#issuecomment-917678930

That said @iam-py-test then I thought this one was your account <https://mypdns.org/iam-py-test3>

[2021-09-12 18:57] spirillen commented on #489
You should now see the following text on the login screen. https://mypdns.org/infrastructure/workboard/-/issues/22

Please add any suggestion you feel likes in the linked issue

[2021-09-12 20:32] iam-py-test commented on #489
@spirillen yes, @iam-py-test3 is me.
I forgot about it, and I didn't have my username/password on that device

[2021-09-12 20:35] spirillen commented on #489
LOL should I reset it for you? or maybe match your profile name to `iam-py-test`?

Can you remember the mail you used?

[2021-09-12 20:36] iam-py-test commented on #489
No. I have it saved
I just switch devices and browsers a lot, so I don't have all my passwords saved everywhere

[2021-09-13 15:58] Titomrock21 opened #491 "[Add request] - Scam domain"
URL you wish to be added:

`d153zcw7279677.cloudfront.net`

Why you believe this should be added:

Add to list:

Scam

Other info you think we should know:

[2021-09-15 12:38] iam-py-test commented on #491
@Titomrock21 where did you find this domain?

[2021-09-16 14:50] gyCfjSnO opened #492 "[Remove Request] - episerver.net"
URL you wish to be removed:
episerver.net

Why you believe this to be a false positive:
Unable to access bendigobank.com.au (I think 5th largest bank in Australia)

List it is on:
Ads List

Other info you think we should know:

| Response details | |
|---|---|
| Status | Blocked by CNAME or IP |
| DNS server | tls://dns.google:853 |
| Elapsed | 46 ms |
| Response code | NOERROR |
| Rule(s) | ||epi

[2021-09-16 15:58] Titomrock21 opened #493 "[Add request] - Scam"
URL you wish to be added:

`greenadblocker.com`

Why you believe this should be added:

Add to list:

Scam

Other info you think we should know:

[2021-09-16 15:59] Titomrock21 commented on #491
this domain seems offline now

[2021-09-16 15:59] #491 closed

[2021-09-16 16:45] Titomrock21 opened #494 "[Add request] - porn"
URL you wish to be added:

`it.youporn.com`
`de.youporn.com`
`jp.youporn.com`
`nl.youporn.com`
`es.youporn.com`
`pt.youporn.com`
`pl.youporn.com`
`rt.youporn.com`
`fr.pornhub.com`
`it.pornhub.com`
`de.pornhub.com`
`es.pornhub.com`
`pt.pornhub.com`
`pl.pornhub.com`
`rt.pornhub.com`
`jp.pornhub.com`
`nl.pornhub.com`
`cz.pornhub.com`
`cn.pornhub.com`
`fr.perfectgirls.net`
`www.tube8.fr`
`www.pornmd.c

[2021-09-16 21:34] spirillen commented on #494
![image](https://user-images.githubusercontent.com/44526987/133688758-e4a01e72-be72-4655-8ace-b1ec729a616e.png)

[2021-09-16 22:22] spirillen commented on #492
Will just mention it is blacklisted by [mypdns](https://mypdns.org/my-privacy-dns/matrix/-/issues/2948) + [EasyList](https://github.com/easylist/easylist/pull/5843) for hosting spyware like intrusive tracking code. for that have now legal access to the public.

If a thing like a bank relay on such sick pieces of software, they don't deserves any costumers :no_good:  if anyone still should be lost

[2021-09-17 10:09] badmojr opened #495 "[Remove Request] - hetubook.com"
URL you wish to be removed:
hetubook.com
www.hetubook.com

Why you believe this to be a false positive:
Reported to me as a novels website.

List it is on:
Abuse, Malware

Other info you think we should know:

[2021-09-18 15:25] Titomrock21 opened #496 "[Remove Request] -"
URL you wish to be removed:

`consentcdn.cookiebot.com`

Why you believe this to be a false positive:

it's cookies validation request from www.manomano.com

List it is on:

?

Other info you think we should know:

[2021-09-19 12:54] iam-py-test opened #497 "[Add request] PUP"
URL you wish to be added:
[code]
Why you believe this should be added:
This is a PUP/Scam:
VT scan: https://www.virustotal.com/gui/file/f4c52b111e5b8a3314c123f7403d165f46f082822720d68031aec82cf36b0b85/detection
It detected a ton of (fake) issues on a safe (apart from it) VM:
![image](https://user-images.githubusercontent.com/84232764/133928081-20448f07-bc93-4cdd-a53e-4e431907dfb3.png)
To fix them,

[2021-09-19 13:09] iam-py-test commented on #496
I think this is in the Ads list

[2021-09-19 14:54] spirillen commented on #497
Not that I've tested which might be active, but here is what i got in the DB from a very old import (some can be FP's)

|id|name|type|
|--|----|----|
|3464668|tweakbit.com|CNAME|
|3464669|static.tweakbit.com|CNAME|
|3464670|downloads.tweakbit.com|CNAME|
|3464671|dynamicdownloads.tweakbit.com|CNAME|
|3464672|www.tweakbit.com|CNAME|

|id|name|type|content|
|--|----|----|-------|
|3000485|en.softonic

[2021-09-19 16:13] iam-py-test commented on #497
@spirillen I got rid of the redundant domain
Thanks for pointing that out. I just completely forgot to check

[2021-09-24 19:19] cryptogap commented on #488
Fixed, Thank you

[2021-09-24 19:19] #488 closed

[2021-09-24 19:20] cryptogap commented on #486
Fixed, Thank you

[2021-09-24 19:20] #486 closed

[2021-09-24 19:20] cryptogap commented on #485
Fixed, Thank you

[2021-09-24 19:20] #485 closed

[2021-09-24 19:20] cryptogap commented on #484
Fixed, Thank you

[2021-09-24 19:20] #484 closed

[2021-09-24 19:20] cryptogap commented on #482
Fixed, Thank you

[2021-09-24 19:20] #482 closed

[2021-09-24 19:20] cryptogap commented on #490
Fixed, Thank you

[2021-09-24 19:20] #490 closed

[2021-09-24 19:20] cryptogap commented on #496
Fixed, Thank you

[2021-09-24 19:20] #496 closed

[2021-09-24 19:21] cryptogap commented on #467
Fixed, Thank you

[2021-09-24 19:21] #467 closed

[2021-09-24 19:22] cryptogap commented on #495
Fixed, Thank you

[2021-09-24 19:22] #495 closed

[2021-09-24 19:28] cryptogap commented on #493
Added, Thank you

[2021-09-24 19:28] #493 closed

[2021-09-24 19:28] cryptogap commented on #487
Added, Thank you

[2021-09-24 19:28] #487 closed

[2021-09-24 19:28] cryptogap commented on #475
Added, Thank you

[2021-09-24 19:28] #475 closed

[2021-09-24 19:29] cryptogap commented on #494
Added, Thank you

[2021-09-24 19:29] #494 closed

[2021-09-24 20:01] iam-py-test commented on #497
@cryptogap maybe it should go into Malware as well?

[2021-09-26 14:20] iam-py-test commented on #497
I guess this can be closed as it has already been fixed...

[2021-09-26 14:20] #497 closed

[2021-09-26 16:56] Titomrock21 opened #501 "[Add request] - Porn"
URL you wish to be added:

`www.vikiporn.com`
`www.18qt.com`
`yeapornpls.com`
`www.slutload.com`

Why you believe this should be added:

Add to list:

Porn

Other info you think we should know:

[2021-09-26 21:35] sigfriedseldeslachts opened #502 "[Remove Request] - cinemazed.be"
URL you wish to be removed:
cinemazed.be

Why you believe this to be a false positive:
This is a legit cinema in Belgium.

List it is on:
Phishing

Other info you think we should know:
Google Maps link with photo of one of their building that shows their site url: https://goo.gl/maps/8BA1xfpuQxLQtwfg7

[2021-09-27 13:44] spirillen commented on #501
![image](https://user-images.githubusercontent.com/44526987/134920593-38c824d1-e1de-4462-b415-b4f50ae06d62.png)

[2021-09-28 11:28] What-Zit-Tooya opened #503 "[Remove Request] - cedexis.net"
URL you wish to be removed:
`cedexis.net`

Why you believe this to be a false positive:
Its CNAME for `tlu.dl.delivery.mp.microsoft.com`

List it is on:
(Tracking)[https://blocklistproject.github.io/Lists/alt-version/tracking-nl.txt]

Other info you think we should know:
Log on (dnscrypt-proxy)[https://github.com/DNSCrypt/dnscrypt-proxy]:
`[2021-09-28 10:14:34]	127.0.0.1	2-01-3cf7-000d.cdx.cedexis

[2021-10-03 09:00] Titomrock21 opened #505 "[Add request] - Porn"
URL you wish to be added:

`www.porn.com`
`www.porntrex.com`
`en.pornhd8k.net`
`deflowered.net`
`fr.redtube.com`
`it.redtube.com`
`de.redtube.com`
`jp.redtube.com`
`ru.redtube.com`
`es.redtube.com`
`www.redtube.com.br`
`www.wankoz.com`
`pornouploads.com`
`pinaysmut.com`
`www.porntv.com`
`upox.com`
`masseurporn.com`
`xvideo.adult`
`mzansi.porn`
`www.rushporn.xxx`
`porngrey.com`
`www.xozilla.com`
`w

[2021-10-03 09:47] ham1255 opened #506 "[Add request] more tiktok cdn's domains"
URLs you wish to be added:
[code]

Why you believe this should be added:
tiktok added these new cdns so sometimes the app works :)

Add to list:
 tiktok

Other info you think we should know:
its self explaintory

[2021-10-06 15:18] Titomrock21 opened #508 "[Add request] - Scam"
URL you wish to be added:

`poweradblocker.com`
`dbrolwbvzhjl6.cloudfront.net`

Why you believe this should be added:

Add to list:

scam

Other info you think we should know:

[2021-10-06 15:29] Titomrock21 opened #509 "[Remove Request] -"
URL you wish to be removed:

`chartiq-client-prod.s3.amazonaws.com`

Why you believe this to be a false positive:

used for graphics displaying (for example www.etoro.com)

List it is on:

ads ?

Other info you think we should know:

[2021-10-06 22:09] crsiebler opened #510 "[Remove Request] - fox8.com"
URL you wish to be removed:
fox8.com

Why you believe this to be a false positive:
Fox 8 is a local Fox news station.

List it is on:
Abuse
Malware

Other info you think we should know:

[2021-10-06 23:30] costanza13 opened #511 "[Remove Request] -"
URL you wish to be removed:
fresh.techdirt.com

Why you believe this to be a false positive:
fresh.techdirt.com used to host Techdirt's internal traffic analytics tool, though it was taken offline more than 10 years ago.

List it is on:
ads

Other info you think we should know:
Removing fresh.techdirt.com from the list may not be critical, since that subdomain of techdirt.com is not currently in u

[2021-10-07 12:57] spirillen commented on #508
That is a good thing when they are bad urls :smiley:

[2021-10-07 16:23] ghost opened #512 "[Add request] - scam"
URL you wish to be added:

`d2020yrahex7kc.cloudfront.net`

Why you believe this should be added:

![Capture](https://user-images.githubusercontent.com/76562017/136424335-7875df1b-80b7-475b-ad23-a6e49ad5605e.PNG)

Add to list:

scam

Other info you think we should know:

[2021-10-07 19:35] iam-py-test opened #513 "[Add request]"
URL you wish to be added:
[code]
Why you believe this should be added:
This is a tech support scam:
![image](https://user-images.githubusercontent.com/84232764/136448829-b2666908-5e0f-4ba8-a906-3657e48c532d.png)

Add to list:
Phishing, scam, fraud
Other info you think we should know:
Some of the other domains in the redirect chain have been seen before
All urls in the redirect chain: [goooogl e_ur

[2021-10-07 19:42] iam-py-test commented on #512
This domain seems to be dead
Probably taken down by the scammers once the scammers realized they were figured out

[2021-10-07 19:50] iam-py-test commented on #512
It might not matter
It is possible that the scammers would have taken it down anyway
I'd recommend reporting it as soon as possible

[2021-10-07 22:21] spirillen commented on #512
Even that I'm not a fan of `cloudfront.net` I'll have to give them, they do take down illegal domains rather fast when reported to them.

So @Titomrock21 in the future you should send a secondary report to them on

Registrar Abuse Contact Email: abusecomplaints@markmonitor.com

[2021-10-08 13:37] spradeep opened #514 "[Add request]"
URL you wish to be added: rajabets.xyz

Why you believe this should be added: Gambling

Add to list: Gambling

Other info you think we should know:

[2021-10-08 13:41] spradeep opened #515 "[Add request]"
URL you wish to be added: www.bet365.com

Why you believe this should be added: Gambling

Add to list: Gambling

Other info you think we should know:

[2021-10-09 14:37] spradeep opened #516 "[Add request]"
URL you wish to be added: www.betterdicecasino.com

Why you believe this should be added: gambling

Add to list: gambling

Other info you think we should know:

[2021-10-12 15:39] alanjacobmathew opened #518 "[Add request] Bank Scam"
URL you wish to be added:

[code]

Why you believe this should be added:
Bank Scamming. Reported on [Reddit](https://www.reddit.com/r/india/comments/q6lspm/a_highly_professional_fraudulent_call_please_be/
)

[2021-10-12 16:27] alanjacobmathew opened #519 "[Add request] Phishing"
URL you wish to be added:

[code]

Why you believe this should be added:

Phishing sites to gather user details.

[2021-10-13 08:02] jeffreygarc opened #520 "[Remove Request] - mobile.aftership.com"
URL you wish to be removed: mobile.aftership.com

Why you believe this to be a false positive:
That domain is used my the package tracking app Aftership. This domain does not host a phishing site.

List it is on:
Phishing

Other info you think we should know:

[2021-10-19 16:07] spradeep opened #522 "[Add request]"
URL you wish to be added: https://rajabets.xyz/adcash/

Why you believe this should be added: Gambling

Add to list: gambling

Other info you think we should know:

[2021-10-20 07:03] boyanpeychev opened #523 "[Remove Request] - cloudns.net"
URL you wish to be removed:

Why you believe this to be a false positive:
cloudns.net
ns11.cloudns.net
ns12.cloudns.net
ns13.cloudns.net
ns14.cloudns.net

List it is on:
Ads

Other info you think we should know:
This is cloud dns provider with services used by over 700000 domain names. Nothing related to ads and your are cutting the access to all those domain names.

[2021-10-21 16:37] ghost opened #524 "[Add request] - Redirect"
URL you wish to be added:

`click.junmediadirect.com`

Why you believe this should be added:

this domain redirect to https://explorads.media

Add to list:

redirect

Other info you think we should know:

[2021-10-21 16:40] ghost opened #525 "[Add request] - Redirect"
URL you wish to be added:

`jystasaki.com`

Why you believe this should be added:

this domain redirect to your browser start page

Add to list:

Redirect

Other info you think we should know:

[2021-10-21 16:43] ghost opened #526 "[Add request] - Scam"
URL you wish to be added:

`wholedailyfeed.com`

Why you believe this should be added:

![Capture](https://user-images.githubusercontent.com/76562017/138321239-3737e1f8-14d7-4a79-b865-a3e02b282081.PNG)

Add to list:

scam

Other info you think we should know:

[2021-10-21 18:16] DavidOsipov opened #527 "[Add request] Phishing domain"
URL you wish to be added: https://ozzon-mobi-age.com/o/

Why you believe this should be added: The website looks alike Russian ecommerce website Ozon.ru. I reported this phishing website to Google Safeboard

Add to list: Phishing

Other info you think we should know: [Virustotal scan results](https://www.virustotal.com/gui/url/9fb34f7b07532af6fe0b3d89ba6a605ca28d63224d1fa2efe2fc324d63fd531f)

[2021-10-21 19:37] DavidOsipov opened #528 "[Remove Request] - Valkyrie by Comodo"
URL you wish to be removed: verdict.valkyrie.comodo.com

Why you believe this to be a false positive: This is an official website of a malware scanner by Comodo company

List it is on: Malware

Other info you think we should know:

[2021-10-22 00:40] jknarr-mw opened #530 "[Add request] - twitter"
https://github.com/blocklistproject/Lists/pull/529/

There you go!

[2021-10-22 19:14] ghost opened #531 "[Remove Request] - Tracking"
URL you wish to be removed:

`api-mobile.yatta.francetv.fr`

Why you believe this to be a false positive:

It's "france.tv" domain for official "france.tv" replay app

List it is on:

Tracking

Other info you think we should know:

[2021-10-22 19:17] Titomrock21 opened #532 "[Remove Request] - Ads"
URL you wish to be removed:

`api.stream.proxad.net`
`media.stream.proxad.net`

Why you believe this to be a false positive:

it's "Free" internet access provider, if this domains are blocked, Freebox TV don't work

List it is on:

ads

Other info you think we should know:

[2021-10-23 17:48] #525 closed, assigned to blocklistproject

[2021-10-23 17:48] #524 closed, assigned to blocklistproject

[2021-10-23 17:50] #512 closed, assigned to blocklistproject

[2021-10-23 17:58] #526 closed, assigned to blocklistproject

[2021-10-23 17:58] #519 closed, assigned to blocklistproject

[2021-10-23 17:58] #516 closed, assigned to blocklistproject

[2021-10-23 17:58] #515 closed, assigned to blocklistproject

[2021-10-23 17:59] #514 closed, assigned to blocklistproject

[2021-10-23 17:59] #513 closed, assigned to blocklistproject

[2021-10-23 18:21] #510 closed, assigned to FDrebin, blocklistproject

[2021-10-23 18:21] #520 closed, assigned to FDrebin, blocklistproject

[2021-10-23 18:21] #528 closed, assigned to FDrebin, blocklistproject

[2021-10-23 18:22] #523 closed, assigned to FDrebin, blocklistproject

[2021-10-23 18:25] #531 closed, assigned to FDrebin, blocklistproject

[2021-10-24 11:20] gallegonovato opened #533 "possibility to create a full host and adguard?"
Good afternoon:

First of all apologize if I do something wrong. But it is not my intention at all to do so.

Secondly thank you for all your wonderful work. And for your wonderful lists of hosts and adguard.

I would like to ask if it would be possible to merge all hosts and adguard
into one for better protection and to be able to use it for example in adaway on mobile (the hosts). And in ublock

[2021-10-25 14:22] spradeep opened #535 "[Add request]"
URL you wish to be added: 1-xredbet87963.top

Why you believe this should be added: redirect

Add to list: redirect

Other info you think we should know:

[2021-10-26 08:23] SodaWithoutSparkles opened #536 "[Remove Request] - api.ad.intl.xiaomi.com"
URL you wish to be removed:
(www.)api.ad.intl.xiaomi.com

Why you believe this to be a false positive:
Upon research and testing, this domain is part of the MIJA eco-system. For the app and the smart home feature to work, this is needed.

List it is on:
https://blocklistproject.github.io/Lists/alt-version/ads-nl.txt

Other info you think we should know:
I havent tested if this would result in more

[2021-10-27 11:31] DavidOsipov opened #537 "[Add request]"
URL you wish to be added: https://venture7program.biz/

Why you believe this should be added: The website mimics a website of one of the biggest Russian banks Gazprombank, because:

- All the bank's official webpages use EV certificates (this one uses Cloudflare and it's free certificate)
- All the bank's official webpages use only one domain **gazprombank.ru** , this website does not.
- All the b

[2021-10-27 14:12] DavidOsipov opened #538 "[Add request] 294 domains, registered to spoof Russian e-government website"
URL you wish to be added:

[Domains.txt](https://github.com/blocklistproject/Lists/files/7426825/Domains.txt)

Why you believe this should be added:

The abovementioned domains are registered (some are active) in order to spoof the [Russian e-government services website ](https://www.gosuslugi.ru/), which also acts like a certificate QR-code checker in Russia. According to the cybersecurity compan

[2021-10-28 09:02] gyCfjSnO opened #540 "[Remove Request] - mycelium.com"
URL you wish to be removed: mycelium.com

Why you believe this to be a false positive: This is a crypto wallet website

List it is on: Block List Project: Ads

Other info you think we should know: Crypto wallet shouldn't be blocked on an Ads list

[2021-10-30 12:34] jw243 opened #541 "[Remove Request] - chaturbate on ads.txt"
URL you wish to be removed:
chaturbate.com
de.chaturbate.com

Why you believe this to be a false positive:
The whole site does not work anymore. These are not per se ad-URLs, they are porn-URLs. They should not be on ads.txt.

List it is on:
ads.txt

Other info you think we should know:
ads.txt is used by dnsforge.de, a dns-service. By using this dns-service, chaturbate.com cannot be used anymore.

[2021-10-30 16:00] Titomrock21 opened #542 "[Add request] - Crypto"
URL you wish to be added:

`www.bybit.com`
`www.kraken.com`
`www.kucoin.com`
`www.etoro.com`
`primexbt.com`
`phemex.com`
`www.tdameritrade.com`
`www.forex.com`
`crypto.com`
`www.webull.com`
`crypto.gobabytrade.com`
`tradeogre.com`
`www.coincorner.com`
`primexbt.com`
`trade.eightcap.com`
`tradecryptocapital.org`

Why you believe this should be added:

All this domains are crypto trading sites.

Add

[2021-10-31 15:36] alanjacobmathew opened #543 "[Add request] Crypto Scam"
URL you wish to be added:
[code]

Why you believe this should be added: Crypto Scam.

Add to list:
Fraud, Scam

Other info you think we should know:
Reported on Reddit : https://preview.redd.it/wap5yaq83nw71.png?width=720&format=png&auto=webp&s=881685dd2ce2276019524e0ef9f6f1275f119638

[2021-10-31 16:43] alanjacobmathew opened #544 "[Add request] Gambling + Fantasy Sports"
URL you wish to be added:
[code]
Why you believe this should be added:
Fantasy Sports websites (Gambling)

Add to list:
Gambling

Other info you think we should know:
Most of these sites also operates using an android or an ios app.

[2021-10-31 16:45] alanjacobmathew opened #545 "[Add request] Redirect"
URL you wish to be added:
[code]

Why you believe this should be added:
Redirects to download apks and pdf's

Add to list:
Redirect

Other info you think we should know:

[2021-10-31 17:46] alanjacobmathew commented on #544
More URL's to include

[code]

[2021-11-02 16:47] gallegonovato commented on #533
Good afternoon @iam-py-test

Sorry for taking so long to get back to you. But I was busy at work and didn't have time earlier.

Thank you for your help and for all your work and time.

The hosts are running on Adaway with no problems. And your adguard lists are working perfectly in ublock origin.

Just thank you for your time and help.

[2021-11-03 06:37] gyCfjSnO opened #546 "[Remove Request] - app.link"
URL you wish to be removed: ```app.link```

Why you believe this to be a false positive: This URL helps users on Android devices be redirected to the appropriate App installed on the device. For example if I see a search result in Google which for example might be for a Reddit thread I can click on the result and a popup will show asking if I want to open this URL in the Reddit App. Currently when

[2021-11-03 18:52] #538 closed

[2021-11-03 18:52] #537 closed

[2021-11-03 22:42] gyCfjSnO opened #547 "[Remove Request] - nab.com.au"
URL you wish to be removed: ```nab.com.au```

Why you believe this to be a false positive: National Australia Bank (abbreviated NAB, branded nab) is one of the four largest financial institutions in Australia (colloquially referred to as "The Big Four") in terms of market capitalisation, earnings and customers.[5][6] NAB was ranked 21st-largest bank in the world measured by market capitalisation[7

[2021-11-04 17:29] p1r473 opened #548 "[Remove Request] - assets-jpcust.jwpsrv.com videos-fms.jwpsrv.com"
URL you wish to be removed: assets-jpcust.jwpsrv.com videos-fms.jwpsrv.com

Why you believe this to be a false positive:
These domains block embedded videos
Here is an example of the embedded video i could not play
https://forums.androidcentral.com/droid-bionic/130214-battery-symbol-question-mark-inside.html

List it is on: ads.txt

Other info you think we should know:

[2021-11-05 11:27] iam-py-test commented on #543
@alanjacobmathew the link you posted is dead:
![image](https://user-images.githubusercontent.com/84232764/140503729-95895e11-46cb-4bf9-9dff-c4c0328ea641.png)

[2021-11-06 00:44] gyCfjSnO opened #549 "[Remove Request] - js.intercomcdn.com"
URL you wish to be removed: ```js.intercomcdn.com```

Why you believe this to be a false positive: Unable to use or see Live Chat feature on websites running software/cloud solution 'Intercom'

List it is on: The Block List Project - Basic Starter List

Other info you think we should know: N/A

[2021-11-06 20:03] iam-py-test opened #550 "[Add request] Scam site"
URL you wish to be added:
`0.0.0.0 bcryp.net`

Why you believe this should be added:
This is a scam website:
![image](https://user-images.githubusercontent.com/84232764/140622358-f0b9f6da-25ca-4f87-8046-237484db793f.png)
Clearly _Elon Musk_ isn't giving me free bitcoin

Add to list:
Scam, fraud
Other info you think we should know:
Credit for finding this goes to [@0x0frmbl](https://www.virustotal.

[2021-11-08 01:11] gyCfjSnO opened #551 "[Remove Request] - trk.klclick.com"
### Issue(s):

- Website Broken

### Domain(s):

- Domain(s):
```trk.klclick.com```

### Your Config:

- Client: AdGuard Home
- Version: v0.107.0-b.14

### Detail:

- Your Issue Detail: Unable to unsubscribe from marketing emails I am receiving to my email address. Picture attached of my AdGuard Home blocking ```trk.klclick.com``` as the domain ```klclick.com``` is on a blocklist I am using. I cro

[2021-11-08 01:42] gyCfjSnO opened #552 "[Remove Request] - settings-win.data.microsoft.com"
### Issue(s):

- Website Broken

### Domain(s):

- Domain(s):

```settings-win.data.microsoft.com```

### Your Config:

- Client: AdGuard Home
- Version: v0.107.0-b.14

### Detail:

- Your Issue Detail:

[2021-11-08 02:18] gyCfjSnO opened #553 "[Remove Request] - download.windowsupdate.com.c.footprint.net"
### Issue(s):

- Website Broken

### Domain(s):

- Domain(s):

```download.windowsupdate.com.c.footprint.net```

### Your Config:

- Client: AdGuard Home
- Version: v0.107.0-b.14

### Detail:

- Your Issue Detail:

Endpoint ```download.windowsupdate.com.c.footprint.net``` is used to download operating system patches and updates.

https://docs.microsoft.com/en-us/windows/privacy/windows-endpoints-1

[2021-11-08 02:24] gyCfjSnO opened #554 "[Remove Request] - evoke-windowsservices-tas.msedge.net"
### Issue(s):

- Website Broken

### Domain(s):

- Domain(s):

```evoke-windowsservices-tas.msedge.net```

### Your Config:

- Client: AdGuard Home
- Version: v0.107.0-b.14

### Detail:

- Your Issue Detail:

Endpoint ```evoke-windowsservices-tas.msedge.net``` is used by the Photos app to download configuration files, and to connect to the Microsoft 365 admin center’s shared infrastructure, includ

[2021-11-08 02:53] gyCfjSnO opened #555 "[Remove Request] - self.events.data.microsoft.com"
### Issue(s):

- Website Broken

### Domain(s):

- Domain(s):

```self.events.data.microsoft.com```

### Your Config:

- Client: AdGuard Home
- Version: v0.107.0-b.14

### Detail:

- Your Issue Detail:

Endpoint ```self.events.data.microsoft.com``` is used to connect to the Microsoft 365 admin center's shared infrastructure, including Office in a browser. If you turn off traffic for these endpoint

[2021-11-08 08:59] gyCfjSnO commented on #547
Any update on this? It's a legitimate website, still can't understand how or why it is blocked.

[2021-11-08 22:40] smcclosr opened #556 "[Remove Request] - lootcrate.com"
URL you wish to be removed:

lootcrate.com

Why you believe this to be a false positive:

lootcrate is a shopping site, not a scam site

List it is on:

scam

Other info you think we should know:

[2021-11-09 20:22] IcedEagle opened #557 "[Remove Request] - au.download.windowsupdate.com.c.footprint.net"
URL you wish to be removed:
au.download.windowsupdate.com.c.footprint.net

Why you believe this to be a false positive:
This domain is used to download Windows Updates. With this blocked, Windows will be unable to download any updates. This domain is a cname of the main domain listed here: https://docs.microsoft.com/en-us/windows/privacy/windows-endpoints-1709-non-enterprise-editions

List it is o

[2021-11-11 13:20] spradeep opened #558 "[Add request]"
URL you wish to be added: raj.bet

Why you believe this should be added: gambling

Add to list: gambling

Other info you think we should know:

[2021-11-12 17:20] Titomrock21 opened #559 "[Add request] - Gambling"
URL you wish to be added:

`gamdom.com`
`www.kosmonautcasino.com`
`www.premiercasino.com`
`www.refuelcasino.com`
`wizardofodds.com`
`www.playnow.com`
`www.parxcasino.com`
`www.cresuscasino.com`
`www.tortugacasino.com`
`www.kingschancecampaign.com`
`www.casinoextra2.com`
`www.lucky8.com`
`www.lucky-31.com`
`www.sultanaffiliates.com`
`www.azurcasino2.com`
`landing.winoui.com`
`www.pariscasino8.com`

[2021-11-13 04:32] wafles38 opened #560 "[Remove Request] - Outliers in Facebook list"
I was looking through the facebook list to find every domain that Facebook owns, and I found four odd outliers that I think have no relation to Facebook. I come here find out why they were added to this list and how are they related to Facebook.

I would appreciate your insight.

URL you wish to be removed:
platform.foursquare.com
static.licdn.com  (Owned by Microsoft)

Why you believe this to be

[2021-11-15 08:38] spradeep opened #561 "[Add request]"
URL you wish to be added: cmkt.dafapromo.com

Why you believe this should be added: gambling

Add to list: cmkt.dafapromo.com

Other info you think we should know:

[2021-11-15 22:41] iam-py-test opened #562 "[Add request] - Malware"
URL you wish to be added:
[code]
Why you believe this should be added:
This domain propagates a high detection trojan:
![image](https://user-images.githubusercontent.com/84232764/141864147-740f6d9d-1fb5-419a-81c9-bd1cc83cedbe.png)

Add to list:
Malware
Other info you think we should know:
More more information, see https://github.com/DandelionSprout/adfilt/issues/63#issuecomment-969388980
Dynamic

[2021-11-16 07:31] JavierAlbertos opened #563 "[Remove Request] - hoxe.vigo.org"
URL you wish to be removed:
hoxe.vigo.org

Why you believe this to be a false positive:
We have a malware scan

List it is on:
malware.txt

Other info you think we should know:
This url is the official page of Vigo City (Spain)

[2021-11-19 05:23] gyCfjSnO opened #564 "[Remove Request] - nppa.com.au"
URL you wish to be removed: nppa.com.au

Why you believe this to be a false positive: The New Payments Platform (nppa.com.au) is an industry-wide payments platform for Australia, national infrastructure for fast, flexible, data rich payments in Australia. The NPP is owned and operated by NPPA, a public company limited by shares. The RBA is a shareholder of NPPA along with 12 initial participating

[2021-11-21 02:39] #542 closed

[2021-11-21 02:39] #543 closed

[2021-11-21 02:39] #545 closed

[2021-11-21 02:39] #550 closed

[2021-11-21 02:39] #558 closed

[2021-11-21 02:39] #559 closed

[2021-11-21 02:40] #561 closed

[2021-11-21 02:40] #562 closed

[2021-11-21 02:47] #535 closed

[2021-11-21 02:48] #522 closed

[2021-11-21 02:48] #407 closed

[2021-11-21 02:51] cryptogap commented on #532
Researched this and would recommend just whitelisting these. I am going to close this issue for now.

[2021-11-21 02:51] #532 closed

[2021-11-21 02:52] cryptogap commented on #536
Because it does specifically reference "ad" we are going to continue to block this domain and recommend just making sure it is whitelisted. Issue will be closed

[2021-11-21 02:52] #536 closed

[2021-11-21 03:03] cryptogap commented on #552
Will remove it from ads but not tracking

[2021-11-21 03:03] cryptogap commented on #553
Please provide supporting information

[2021-11-21 03:04] cryptogap commented on #554
Removed from ads but not tracking

[2021-11-21 03:08] cryptogap commented on #557
Fixed and closed, Thank you

[2021-11-21 03:08] #557 closed

[2021-11-21 03:08] cryptogap commented on #556
Fixed and closed, Thank you

[2021-11-21 03:08] #556 closed

[2021-11-21 03:08] cryptogap commented on #555
Fixed and closed, Thank you

[2021-11-21 03:08] #555 closed

[2021-11-21 03:08] cryptogap commented on #554
Fixed and closed, Thank you

[2021-11-21 03:08] #554 closed

[2021-11-21 03:09] cryptogap commented on #552
Fixed and closed, Thank you

[2021-11-21 03:09] #552 closed

[2021-11-21 03:09] cryptogap commented on #551
I would recommend whitelisting this so that you can unsubscribe. Removing this would do more harm than good.

[2021-11-21 03:09] #551 closed

[2021-11-21 03:10] cryptogap commented on #549
Fixed and closed, Thank you

[2021-11-21 03:10] #549 closed

[2021-11-21 03:10] cryptogap commented on #548
Fixed and closed, Thank you

[2021-11-21 03:10] #548 closed

[2021-11-21 03:10] cryptogap commented on #547
Fixed and closed, Thank you

[2021-11-21 03:10] #547 closed

[2021-11-21 03:10] cryptogap commented on #546
Fixed and closed, Thank you

[2021-11-21 03:10] #546 closed

[2021-11-21 03:23] cryptogap commented on #540
Fixed and closed, thank you!

[2021-11-21 03:23] #540 closed

[2021-11-21 03:23] cryptogap commented on #541
Fixed and closed, thank you!

[2021-11-21 03:23] #541 closed

[2021-11-21 03:24] cryptogap commented on #560
Fixed and closed, thank you!

[2021-11-21 03:24] #560 closed

[2021-11-21 03:24] cryptogap commented on #563
Fixed and closed, thank you!

[2021-11-21 03:24] #563 closed

[2021-11-21 03:24] cryptogap commented on #564
Fixed and closed, thank you!

[2021-11-21 03:24] #564 closed

[2021-11-21 10:00] wafles38 commented on #560
wow, really? So they were legitimetely false positives? okay then, it caught me by surprise.

hootsuite and addtoany are also on the list, I believe this is because they integrate facebook services into their services (by this I mean, addtoany makes it easy to share a blog post to facebook, and hootsuite uses facebook for analytics). I believe those should be kept on the list but it's up to you gu

[2021-11-21 14:32] Titomrock21 opened #565 "[Add request] - Porn"
URL you wish to be added:

`www.hotsouthindiansex.com`
`www.watchindianporn.net`
`www.playindianporn.net`
`www.viewdesisex.com`
`www.indiansexmovies.com`
`hentaimama.io`
`hentaicore.org`
`ohentai.org`
`www.hentaicloud.com`
`hentaifreak.org`
`hentaipulse.com`
`brutalclips.com`
`analviolation.com`
`dickdrainers.com`
`www.extrememoviepass.com`
`law4k.com`
`rule34hentai.net`
`www.lolhentai.net`
`fapse

[2021-11-21 17:44] Titomrock21 opened #566 "[Add request] - Gambling"
URL you wish to be added:

`www.wildsultan.com`
`www.dublinbet1.com`
`www.jack-21.com`
`www.arlequincasino.com`
`www.luckyluke.com`
`www.cafecasino.lv`
`www.luckycreek.com`
`www.betbigdollar.com`
`euro.grandfortunecasino.com`
`www.p7campaign.com`
`www.slotocash.im`
`uptownaces.eu`
`www.vegascrestcasino.ag`
`www.mybcasino.ag`
`www.winamax.fr`
`www.parionssport.fdj.fr`
`www.netbet.fr`
`www.france-pa

[2021-11-22 04:57] Akulinas opened #567 "[Remove Request]　Malware List&ads list"
Domain you wish to be removed:
e-words.jp
nic.ad.jp

List it is on:
Malware List(e-words.jp)
Ads list(nic.ad.jp)

Other info you think we should know:
e-words.jp is a website that explains technical terms in IT.

nic.ad.jp is the domain of the Japan Network Information Center.
https://www.nic.ad.jp/en/profile/history/

[2021-11-22 06:53] Akulinas opened #568 "[Remove Request] - Ads List (NL)"
URL you wish to be removed:
nic.ad.jp

List it is on:
Ads List

Other info you think we should know:
This is the domain of Japan Network Information Center.
https://www.nic.ad.jp/en/

[2021-11-22 21:12] pszczodr opened #569 "[Remove Request] -"
URL you wish to be removed:
www.chemes.eu

Why you believe this to be a false positive:
We deeply check the site and found nothing dangerous.

List it is on:
abuse.txt, malware.txt

Other info you think we should know:
This is site of polish modern printing company. The company has managed to acquire regular clients all over Europe.

[2021-11-22 22:22] #568 closed

[2021-11-24 07:44] pepsimaxfan1 opened #570 "[Remove Request] - r3.o.lencr.org OCSP responder for Let's Encrypt"
URL you wish to be removed:

r3.o.lencr.org

Why you believe this to be a false positive:

This domain is owned by Let's Encrypt (https://letsencrypt.org/docs/lencr.org/) . When it's blocked, oscp queries fail and users encounter a lot of certificate issues when browsing the web.

List it is on:

malware-nl

Other info you think we should know:

Another user requesting the same thing on another bl

[2021-11-24 11:42] thomasmerz opened #571 "[Remove Request] - invalid domains due to IDN instead of punycode"
URL you wish to be removed:
There are some (7) IDN domains in the blocklist that should be or already are converted to punycode:
     - госулуги.рф
      - госуслуги-ру.рф
      - гослуги.рф
      - госсуслуга.рф
      - госсуслуугии.рф

Why you believe this to be a false positive:
Output from Pi-Hole preparing new gravity database:
[code]

List it is on:
phishing

[2021-11-24 11:44] thomasmerz opened #572 "[Remove Request] - www.xvideos-español.com due to IDN instead of punycode"
URL you wish to be removed:
There is one IDN domains in the blocklist that should be or already is converted to punycode:
      - www.xvideos-español.com

Why you believe this to be a false positive:
Output from Pi-Hole preparing new gravity database:
[code]

List it is on:
porn

[2021-11-24 12:02] spirillen commented on #571
wouldn't it be better to translate them into punycode?

[code]

[2021-11-24 12:07] spirillen commented on #572
ponycided
[code]

[2021-11-24 14:50] thomasmerz commented on #571
Yes, sure, I'm currently running a script on **all** lists (`*.txt`) that convert them from IDN to Punycode. But this takes a lot of time on my i5 linux desktop… 😱  For example:
[code]
Later I will check by `sdiff -s` if something got lost…

[2021-11-24 15:12] spirillen commented on #571
pip install pyfunceble
pyfunceble --syntax -f file1.txt file2.txt

- https://pypi.org/project/PyFunceble/
- https://github.com/funilrys/PyFunceble the tool you are looking for you can append `--hierarchical` to sort the output with relation to each other (pr domain)

[2021-11-24 15:17] spirillen commented on #571
PS: Questions to related to the docs (only) should be posted here: https://mypdns.org/spirillen/PyFunceble/-/issues

[2021-11-24 16:26] thomasmerz commented on #571
Well, I feel more comfortable with `bash` than `python` 😉
And my script is running in the background and when it's done, it's done 🤣

[2021-11-24 16:35] spirillen commented on #571
I prefer bash as well but that doesn't change the facay @funilrys have made @PyFunceble in python and it is working and even convertin to ponycode by it self :open_mouth: You coul have found and removed all inactive domains at the same time as well :)

I would have used `while read line` instead for `for lines in` it is faster an uses less resources as you are only working though the file once vs

[2021-11-24 16:39] Akulinas opened #575 "[Remove Request] - Malware List (NL)"
URL you wish to be removed:
b.hatena.ne.jp

Why you believe this to be a false positive:

List it is on:
Malware List (NL)

Other info you think we should know:
This is the domain of a Japanese blog service.

[2021-11-24 16:55] thomasmerz commented on #571
That's damn true! 😵‍💫 I'll keep this in mind for the next time (because it's nearly finished) 🤣

[2021-11-24 17:43] thomasmerz commented on #570
Wow, this was fast… I've also seen this on one of my Pi-Holes with really less traffic - otherwise I would have overlooked it:

<img width="891" alt="image" src="https://user-images.githubusercontent.com/18568381/143288660-d501cdf8-9525-4e1e-aa5d-7acc6e27a4c5.png">

[2021-11-24 18:45] thomasmerz commented on #571
Well this quickshot doesn't work well (and fast) enough 😞
So could any maintainer please review my https://github.com/blocklistproject/Lists/pull/574 ? Thanks!

[2021-11-24 20:30] spirillen commented on #571
PS: This is not limited by the cpu but disk I/O, meaning you will have a HUGE gain by using ramFS or tmpFS dirs to benefit from the RAM I/O speed over the very limited SSD (Spindel) I/O limitation compared to NVMe or ramFS.

[2021-11-25 05:28] minoplhy opened #576 "[Remove Request] - www.markmonitor.com"
URL you wish to be removed:
www.markmonitor.com

Why you believe this to be a false positive:
markmonitor is American software company

List it is on:
Ads

Other info you think we should know:

[2021-11-25 07:23] gyCfjSnO opened #577 "[Remove Request] - meteor.com"
URL you wish to be removed: meteor.com

Why you believe this to be a false positive: Meteor is an ultra-simple environment for building modern web applications, https://github.com/meteor/meteor

List it is on: Ads

Other info you think we should know: N/A

[2021-11-25 13:27] ChurchOfNoise opened #578 "[Remove request] users.ugent.be in abuse list"
URL you wish to be removed: Users.ugent.be

Why you believe this to be a false positive: It is used by Ghent University (ugent.be) and its staff and students.

List it is on: Abuse

Other info you think we should know: N/A

[2021-11-25 21:09] spirillen commented on #565
Some of these are already listed and verified https://mypdns.org/my-privacy-dns/porn-records

[2021-11-25 22:02] spirillen commented on #565
law4k.com: How should this be access for validation?

[code]

[code]

[2021-11-25 22:43] spirillen commented on #565
Do you have any example or information for how to access `promo.dtfsluts.com`??

![image](https://user-images.githubusercontent.com/44526987/143505472-268d00ae-6f2f-42cb-b0f0-dae146f4c991.png)

[2021-11-26 03:39] spirillen commented on #565
/spend 6h 30m

[2021-11-26 17:11] Akulinas opened #579 "[Remove Request] - Ads List"
URL you wish to be removed:
nicoad.nicovideo.jp

Why you believe this to be a false positive:
The URL of the video sharing site.

List it is on:
Ads List

Other info you think we should know:

[2021-11-27 10:03] gyCfjSnO opened #580 "[Remove Request] - stripe.network"
URL you wish to be removed: `stripe.network`

Why you believe this to be a false positive: Used for Stripe’s fraud detection - https://stripe.com/au/privacy-center/legal#stripejs

List it is on: Block List Project: Ads

Other info you think we should know: N/A

[2021-11-28 16:35] funilrys commented on #571
Hi there, there is [domain2idna](https://pypi.org/project/domain2idna/).
It's not perfect (yet?) but it's the underlying Python module that PyFunceble uses for the conversion.

If you are fluent with Python, here is the way with PyFunceble:

[code]

 **Disclaimer**: I'm the author of it 😄

[2021-11-30 00:11] gyCfjSnO commented on #553
Documentation here says the URL needs to be allowed so the OS can download patches and updates.

https://docs.microsoft.com/en-us/windows/privacy/windows-endpoints-1709-non-enterprise-editions

[2021-11-30 04:13] Homas opened #581 "[Remove Request] - trespass.com in porn list"
URL you wish to be removed:
trespass.com

Why you believe this to be a false positive:
It is a clothing website

List it is on:
porn

Other info you think we should know:

[2021-12-01 09:34] sojudu opened #582 "[Add request]"
URL you wish to be added: https://github.com/blocklistproject/Lists

Why you believe this should be added: kindly add all the lists from there, currently rethink dns dosn't do good job of blocking porn , but in that list, you are able to block 2.1 million porn sites, kindly add there other lists as well

Add to list:
https://blocklistproject.github.io/Lists/ads.txt
https://blocklistproject.github.

[2021-12-01 11:29] maninthemiddle01 opened #583 "[Remove Request] - autistici.org in abuse malware list"
URL you wish to be removed:
autistici.org

Why you believe this to be a false positive:
This grassroot "provides services and tools [e.g. mail] to achieve anonymous and secure communication".

List it is on:
abuse malware

Other info you think we should know:
If this is blocked, people cannot access their mails

[2021-12-01 15:44] thomasmerz commented on #570
@blocklistproject , is there any progress to be reported? When will this be fixed, so someon can remove this domain from his/her/its whitelists again… 💭

[2021-12-01 15:45] thomasmerz commented on #571
@blocklistproject , @FDrebin , is there any progress to be reported? When will this be fixed? ⏳

[2021-12-01 15:45] thomasmerz commented on #572
@blocklistproject , @FDrebin , is there any progress to be reported? When will this be fixed? ⏳

[2021-12-01 18:43] spirillen commented on #582
That is not 2.1 mill porn urls, it's just 2.1 mill lines of domain names to appear as a big list while the fact is in the first ~100 lines I can, without testing, say there are a high number of FP.

just try and do a search on there `*.blogspot.*` and it is based on the same records as `porn.host.srv` by spamhaus (test results: https://github.com/dns-test/porn.host.rpz)

[2021-12-02 19:49] donald2612 commented on #570
And again malware.txt, that is blocking legitimate and in this case security-important sites. Who is responsible for checking validity  and possible poisoning here? I'll opt out of this list as I type, as I think, it is more harm- than helpful.

[2021-12-06 03:18] yummypixza opened #584 "[Remove Request] blog.xuite.net"
URL you wish to be removed:
blog.xuite.net
www.blog.xuite.net
xuite.net

Why you believe this to be a false positive:
xuite.net (隨意窩) is a Taiwanese BSP (blog service provider) backed by Taiwanese ISP Hinet (Chunghwa Telecom Co. Ltd.)

List it is on:
malware list.
[code]

Other info you think we should know:
I believe this may caused by what I saw on dnschecker.org which says the domain were got b

[2021-12-06 10:07] xjrb10 opened #585 "[Remove Request] - Various *.gov.ph domains are likely false positives"
URL you wish to be removed:
[code]

Why you believe this to be a false positive:
They are government websites

List it is on:
https://blocklistproject.github.io/Lists/alt-version/abuse-nl.txt
https://blocklistproject.github.io/Lists/alt-version/malware-nl.txt
https://blocklistproject.github.io/Lists/alt-version/phishing-nl.txt

Other info you think we should know:
I cannot vouch for these websites

[2021-12-06 12:10] CYB3RL4MBD4 commented on #570
Same question here...

[2021-12-06 14:53] krittykitty opened #587 "[Remove Request] - pp.ua"
URL you wish to be removed:

*.pp.ua
www.*.pp.ua

Why you believe this to be a false positive:

The whole second level domain has been blocked this way.  That is a little too restrictive.

List it is on:

https://blocklistproject.github.io/Lists/abuse.txt

Other info you think we should know:

[2021-12-06 21:33] spirillen commented on #587
don't you mean third level domain??

First level = UA
Second level = PP
Third level = `*` (usually wildcard)
Fourth Level = WWW

[2021-12-06 21:46] krittykitty commented on #587
Well, all Domains ending with  .pp.ua are blocked and that includes also pp.ua, which is a second level domain.

So to be correct:  pp.ua is blocked and all *.pp.ua domains registered at nic.ua are blocked.

If I had written it misleading: pp.ua is like co.uk with its own registry, not a normal domain.
https://nic.ua/en/domains/.pp.ua

[2021-12-06 22:30] spirillen commented on #587
That's clarifies a lot I most admit I wasn't aware of the `pp.ua` or at least forgotten it :shrug: as it haven't crossed [my filters](https://mypdns.org/search?search=pp.ua&nav_source=navbar) yet.

But since the rule `0.0.0.0 pp.ua` can blacklist all domains below, which software are you loading the list into?

Or did you only tried these urls?

[code]

Extraction code:
[code]

[2021-12-07 11:38] krittykitty commented on #587
Good morning!
I have set dnsforge.com as my DNS server
on my devices and Have noticed confused that my little board game page is blocked.

So I have written the admin, had my site whitelisted, but asked from which list the blocking was, response:

https://blocklistproject.github.io/Lists/abuse.txt:
0.0.0.0 alternativa.pp.ua
0.0.0.0 blackhill.pp.ua
0.0.0.0 avrlife.pp.ua
0.0.0.0 comlive.pp.ua
0.0.0.

[2021-12-07 11:46] iam-py-test commented on #587
@spirillen can't remove it, they don't have access.
I can confirm it is blocked and shouldn't be blocked

[2021-12-07 12:48] spirillen commented on #587
@iam-py-test Good call, as I found it in my DB from a very very early import from external sources.... should never had done that, it keeps cursing FP's.

The main question is, what about those I do not have on previously my list, which should be added, and which are simply yet other FP's.

The list got this [issue](https://mypdns.org/my-privacy-dns/matrix/-/issues/3802), please share your knowled

[2021-12-07 13:01] iam-py-test commented on #587
I was addressing the OP, as the OP seemed to be addressing you.

'They' meaning you, I didn't want to say 'he' or 'she' because I wasn't sure which one was appropriate.

[2021-12-07 13:09] spirillen commented on #587
Yes I was trying to understand the full picture of this issue, as it turns out, that was a good idea as I actually had some FP as you can see in issue :arrow_up:

That why we had a talk inside this issue.

AAAhhhhh now I get the line....  I was reading they as third person (not my self) as I was already mentioned.

Spillen is a male mammon the female if weirdly enough named spirillA :wink:

[2021-12-07 23:27] iam-py-test commented on #571
test

[2021-12-07 23:30] iam-py-test commented on #571
By the way, I don't think @FDrebin is affiliated with this project

[2021-12-09 22:59] JobcenterTycoon opened #588 "[Add request] many fake domains"
URL you wish to be added:

<details>

[code]

</details>
Why you believe this should be added:

These sites looks like they provide "cracks" but its all fake, all download buttons redirect to virus download links. When you open a few it really gets clear, its all the same crap. VT reports:

[code]

Add to list: abuse (The sites directly no provide malware, it trick the user to download their "crac

[2021-12-09 23:13] spirillen commented on #588
I don't think it will be rather useful to blacklist these "fish" sites, the real game will start if you could provide the destination sites, these front end will anyway be dead in 2 weeks

[2021-12-09 23:17] JobcenterTycoon commented on #588
No i reported it already a month ago to a other list https://github.com/RPiList/specials/issues/676 and many domains are still on the search results. I just added a few more domains for this issue

[2021-12-09 23:26] iam-py-test commented on #588
Try reporting abuse to the regstrar or report to https://urlhaus.abuse.ch

[2021-12-09 23:26] spirillen commented on #588
Funny I thought you where French und nicht germanen.

Ok If you post them on mypdns I'll add them for you there. :+1:  I admit 146 domains is a bit and for which category should they be put into... Malicious?

[2021-12-09 23:38] JobcenterTycoon commented on #588
@iam-py-test i tried but the files are password protected so the automated Antivirus scan can't find anythink so nothing get added to the database. Or the URL rotating, when URLhaus try to confirm the URL already changed (like download1.exe to download2.exe). Manual reporting to the hoster is to time consuming, i already tried and the destination URL fast changing.

@spirillen yes

[2021-12-10 00:25] iam-py-test commented on #588
Yep - encountered that problem. I did blocklist all those domains for what it's worth

[2021-12-10 07:01] CYB3RL4MBD4 opened #589 "[Remove Request] - widget-mediator.zopim.com"
URL you wish to be removed:
widget-mediator.zopim.com

Why you believe this to be a false positive:
It blocks loading of zendesk chat widget.

List it is on:
ads.txt

Other info you think we should know:
was also on the StevenBlack list and then removed after check.
https://github.com/StevenBlack/hosts/issues/1625

[2021-12-10 14:23] JobcenterTycoon commented on #588
what
<img width="717" alt="Unbenannt" src="https://user-images.githubusercontent.com/48647394/145588658-dcc1884d-5fb6-42d7-a9e5-3932317aad0c.PNG">

[2021-12-10 14:24] iam-py-test commented on #588
Do you have a GL account?

[2021-12-10 14:25] JobcenterTycoon commented on #588
Yes

[2021-12-10 14:26] iam-py-test commented on #588
Try just creating an account without linking it:
![image](https://user-images.githubusercontent.com/84232764/145589262-418f310c-637d-4fd9-9d20-f37bd5296773.png)

[2021-12-10 15:07] JobcenterTycoon commented on #588
When i try to post it says "Your issue has been recognized as spam and has been discarded."

[2021-12-10 15:07] iam-py-test commented on #588
@spirillen please help

[2021-12-10 23:54] spirillen commented on #588
It have been family dinner day, but that "spam" is one almost everyone receive once. You got three, but on't worry I've got 9 in total (as I have back up  accounts) but should be fixed now.

Thanks for this report, I will have to look at the config tomorrow as it is the intention you should be able to create "copy" you account directly with github/gitlab.

[2021-12-10 23:57] spirillen commented on #588
@iam-py-test did you have the same issues when you signed up at mypdns?

[2021-12-11 01:10] iam-py-test commented on #588
I don’t think so. I didn’t try to reproduce because I didn’t want to spam with useless issues

[2021-12-11 08:34] Deepcuts commented on #570
17 days and r3.o.lencr.org still in BL.
It is not like we are talking about a major certificate auth.
Safe to say these lists are not worth the trouble.

[2021-12-11 08:37] CYB3RL4MBD4 commented on #570
agree... as said in another post, if help is needed maintaining the lists, I may be able to help.

[2021-12-11 12:23] spirillen commented on #570
Don't waste your time on these lists, they are just bulk imported and then left. and stuff are added in bulks without any check or versification.

I'm only here as a `blind hen also can fine a grain`. If you are bored there are plenty of space for more maintainer / contributors at mypdns.

[2021-12-11 12:26] CYB3RL4MBD4 commented on #570
Oh great... so I did well retire my Patreon contribution here...

[2021-12-11 12:26] CYB3RL4MBD4 commented on #570
Oh great... so I did well retire my Patreon contribution here..

[2021-12-11 12:31] spirillen commented on #570
To my opinion.

[2021-12-11 22:52] thomasmerz commented on #570
Hey @blocklistproject , please merge my [PR](https://github.com/blocklistproject/Lists/pull/590) - thanks a lot 😘

[2021-12-13 11:54] gyCfjSnO commented on #570
Any update on this?

[2021-12-14 17:32] gianniferrai commented on #570
Still waiting for removal.........

[2021-12-14 18:38] p1r473 opened #591 "[Remove Request] - pasteboard.co"
URL you wish to be removed: pasteboard.co

Why you believe this to be a false positive: This is just a PasteBin alternative

List it is on: abuse, malware

[2021-12-15 14:53] jamesplease opened #592 "[Remove Request] - geo2.adobe.com"
### URL you wish to be removed:

`geo2.adobe.com`

### Why you believe this to be a false positive:

This prevents the main Adobe website, www.adobe.com, from functioning properly. More specifically, the header at the top of the page that allows you to access things such as account settings will not display when this is on. The header not loading makes it so that users cannot sign in to their Adob

[2021-12-15 19:29] spirillen commented on #592
That domain is used for tracking your current location and bind to you adobe profile

[2021-12-15 21:59] jamesplease commented on #592
If it breaks normal functionality of the Adobe website is it still something that should be kept on the list? My personal opinion is that items on the list should protect privacy as much as possible without breaking the regular functionality of the service.

[2021-12-15 23:07] spirillen commented on #592
@jamesplease that is a fair opinion and it suit you and wont debate that one, but here is my view on the topic :wink: https://mypdns.org/my-privacy-dns/matrix#faq

According to my view, I added the information for the domain, it wasn't an argument for removal or not as this isn't my list.

[2021-12-15 23:48] jamesplease commented on #592
Thanks for sharing that perspective, @spirillen . I can definitely see both sides on this issue. I’m curious what the maintainers of this list feel is best? I’m fine with either decision.

[2021-12-15 23:55] spirillen commented on #592
@jamesplease Come to think of: How would you feel adding your original comments about this sub domain to https://mypdns.org/my-privacy-dns/matrix/-/issues/3059, that is for sure a thing that would be welcomed as shared knowledge

[2021-12-17 07:54] alanjacobmathew opened #593 "[Add request] Ads"
URL you wish to be added:
[code]

Why you believe this should be added:
Domains used for serving ads. Some example below
[code]

Add to list: Ads

Other info you think we should know:
Previously requested : [here](https://github.com/anudeepND/blacklist/issues/177)
Already included at [mypdns.org](https://mypdns.org/)

[2021-12-17 17:06] iam-py-test commented on #592
If using a browser based blocker, it might be possible to block the specific urls used for tracking without breaking anything.
In my opinion, this domain should be unblocked.

[2021-12-18 16:16] Iconology opened #594 "[Remove Request] - api.bazaarvoice.com"
URL you wish to be removed:
api.bazaarvoice.com
photos-us.bazaarvoice.com

Why you believe this to be a false positive:
It's needed for the ability to view reviews on multiple sites.
It could be blocked for a good reason, but it's only found on lists in this repo and blocks a somewhat important functionality of websites.

List it is on:
Match found in https://blocklistproject.github.io/Lists/ads.t

[2021-12-18 16:38] jamesplease commented on #592
Normally I would, but I took a quick look and couldn’t figure it out. Sorry!

[2021-12-19 17:14] spirillen commented on #592
When you have signed in you just go to the bottom of the tread and at your reply

[2021-12-20 07:31] gyCfjSnO commented on #570
Hello any update on this it is still on the Malware List

[2021-12-20 17:17] spirillen commented on #594
https://mypdns.org/my-privacy-dns/matrix/-/issues/2301

[2021-12-21 07:47] BrettDikeman commented on #570
@cryptogap you seem to be the only active maintainer as of late - are you able to fix this, please? This breaks LetsEncrypt.

[2021-12-21 14:27] spirillen commented on #570
I would call this repository (project) for dead, leaving a issue like this for 21 days, that equal no a unmaintained project

[2021-12-22 12:30] #570 closed

[2021-12-22 12:40] cryptogap commented on #593
Added thank you

[2021-12-22 12:40] #593 closed

[2021-12-22 12:44] cryptogap commented on #588
These have been added to abuse, thank you

[2021-12-22 12:44] #588 closed

[2021-12-22 12:44] #582 closed

[2021-12-22 12:46] cryptogap commented on #566
These have been added, thank you

[2021-12-22 12:46] #566 closed

[2021-12-22 12:47] cryptogap commented on #565
These have been added, thank you!

[2021-12-22 12:47] #565 closed

[2021-12-22 12:49] cryptogap commented on #553
Removed, thank you

[2021-12-22 12:49] #553 closed

[2021-12-22 12:50] cryptogap commented on #567
Removed, thank you

[2021-12-22 12:50] #567 closed

[2021-12-22 12:51] cryptogap commented on #575
Please provide a malware scan screenshot

[2021-12-22 12:51] cryptogap commented on #576
Removed, Thank you

[2021-12-22 12:51] #576 closed

[2021-12-22 12:53] cryptogap commented on #580
This will be added to malicious. As it is currently setup to auto download a file to users computer.

[2021-12-22 12:53] #580 closed

[2021-12-22 12:54] cryptogap commented on #569
This has been removed, Thank you

[2021-12-22 12:54] #569 closed

[2021-12-22 12:54] cryptogap commented on #577
This has been removed, thank you

[2021-12-22 12:54] #577 closed

[2021-12-22 12:55] cryptogap commented on #578
This has been removed, thank you

[2021-12-22 12:55] #578 closed

[2021-12-22 12:55] cryptogap commented on #579
Please provide additional information

[2021-12-22 12:56] cryptogap commented on #581
This has been removed, Thank you

[2021-12-22 12:56] #581 closed

[2021-12-22 12:57] cryptogap commented on #583
This has been removed, Thank you

[2021-12-22 12:57] #583 closed

[2021-12-22 12:58] cryptogap commented on #584
These have been removed, Thank you

[2021-12-22 12:58] #584 closed

[2021-12-22 13:02] cryptogap commented on #585
These have been removed until further investigation can be done

[2021-12-22 13:02] #585 closed

[2021-12-22 13:05] cryptogap commented on #587
This has been removed, Thank you all

[2021-12-22 13:05] #587 closed

[2021-12-22 13:05] cryptogap commented on #589
This has been removed, Thank you

[2021-12-22 13:05] #589 closed

[2021-12-22 13:06] cryptogap commented on #591
This has been removed, thank you

[2021-12-22 13:06] #591 closed

[2021-12-22 13:07] cryptogap commented on #592
This was removed from ads and placed on tracking, Thank you

[2021-12-22 13:07] #592 closed

[2021-12-22 13:09] cryptogap commented on #594
These two have been removed but other remain.

[2021-12-22 13:09] #594 closed

[2021-12-22 20:19] donald2612 commented on #570
Would you consider all lists maintained here as unmaintained? Excuse my ignorance, but it is a problem to find "one-source"-supplier of any kind of block-lists. I use pi-hole for local blocking, and a commercial supplier in chain with TLS. I would happily pay for a good curated list of everything, before it hits the net....

[2021-12-22 21:44] spirillen commented on #570
Actually not,  a lot taken; as there are several project for which you are free to buy some coffee and who maintain there filters on a daily basis and not on a monthly basis.

Supplier of what? fish and chips? gummy beers?

[2021-12-23 09:22] janmg opened #596 "[Remove Request] - pilahorti.com"
URL you wish to be removed:
pilahorti.com
www.pilahorti.com

Why you believe this to be a false positive:
PILA Horti is a brand from Signify, the website is used for sales of lights used for farming, there is no indication of malware ever reported for these hostnames.

List it is on:
malware, alt, adguard

Other info you think we should know:
Commit 2834d0fc33962d047c443bac7f2f543f55c6090b added t

[2021-12-25 03:38] electricduck opened #597 "[Remove Request] - iwantmyname.com"
URL you wish to be removed:
`iwantmyname.com`

Why you believe this to be a false positive:
This is a domain registrar!

List it is on:
`porn`

Other info you think we should know:

[2021-12-26 17:37] exmex opened #598 "[Remove Request] - forum.ragezone.com"
URL you wish to be removed:
forum.ragezone.com

Why you believe this to be a false positive:
I'm a moderator on that forum. There are download links to applications and games, we always look if somebody posted malware. So this is not a site who distributes malware. Proof we actually disallow malwares:
https://forum.ragezone.com/f788/section-rules-please-read-1019115/

List it is on:
malware

Other

[2021-12-26 18:02] iam-py-test commented on #598
What about ELF and APK files? Python, JavaScript, HTML, VBS? We aren't all on WindowsOS and Linux, MacOS, and Android have tons of threats as well:
![image](https://user-images.githubusercontent.com/84232764/147416088-54889d36-eb97-4fb3-9a1e-856d7c7e5c74.png)

I'd also recommend you implement some checking, as I was able to sign up with the password 'password' and a fake email - and nothing stoppe

[2021-12-26 18:29] iam-py-test commented on #598
I can not investigate further as someone banned my test account:
![image](https://user-images.githubusercontent.com/84232764/147416996-3077972f-8a02-4d58-882e-0bf07bfcf7e7.png)
Username: sectest

[2021-12-27 16:27] spirillen commented on #588
The actual malware sites would be something like `10crack.com` = `` & `134.122.115.190`

![image](https://user-images.githubusercontent.com/44526987/147488738-427eb482-61eb-4231-aa7d-6c98b71b265c.png)

:thought_balloon: :thought_balloon:  :thinking:

[2021-12-27 21:39] ehnwebmaster opened #599 "[Remove Request] - ns2.elhacker.net"
ns2.elhacker.net

Hello,

I can't understand how ns2.elhacker.net can be a "malware" site... Online since 2001 has a big active forum with more than 1,5 million posts. We use differents  subdomains, like blog, forum and ns2 is for downloads.

elhacker.net never hosted malware according to Google Safe Browsing Tool:
http://www.google.com/safebrowsing/diagnostic?site=ns2.elhacker.net
https://quttera

[2021-12-27 23:26] spirillen commented on #599
This most be a long running issue I I can find a 3 years old import of the domain in my RPZ zone

|id|domain_id|name|type|content|
|--|---------|----|----|-------|
|926889|36|ns2.elhacker.net.rpz.mypdns.cloud|CNAME|.|
|940700|36|elhacker.net.rpz.mypdns.cloud|CNAME|.|

[2021-12-28 02:33] MinusFour commented on #599
@spirillen it's a recurrent issue with false positives I'm afraid but they've all been cleared up in their own time. The very nature of the site doesn't help much with it but its purpose is merely educational really. It is a safe site to browse.

Seems like the entry was first added to this repo early on. It was on the original list for [`malware.txt`](https://github.com/blocklistproject/Lists/com

[2021-12-28 10:18] spirillen commented on #599
Hi @MinusFour

First off, you should open a removal request here https://mypdns.org/my-privacy-dns/matrix/-/issues/new?issuable_template=Whitelist, more or less copy/paste the text of this one.

Secondly, yes, it was a import from other projects, such as the untrustworthy and useless stevenbalcks/hosts, but that stopped as I found several thousands of FP's, and that is why my lists are "handmade",

[2021-12-28 12:57] ehnwebmaster commented on #599
My Privacy DNS removal request is "Pending approval":

[2021-12-28 15:50] MinusFour commented on #599
@spirillen I'm sorry, I just realized that's not gitlab.com and you might have two accounts requests. Thought it needed my gitlab account for some reason.

[2021-12-30 16:17] Trainax opened #600 "[Add request] - trackital.checkposttt.top & other domains"
URL you wish to be added:
- `trackital.checkposttt.top`
- `corriertt.parceldlvr.xyz`
- `choicemonitor.top`
- `hellothere.shop` => See https://github.com/blocklistproject/Lists/issues/600#issuecomment-1003392878
- `jt2v.com`
- `loratech.pe`
- `aranu.ir`
- `realestatemashahir.ir`
- `conv-alida-recapiro-com.preview-domain.com`
- `ufesif.com`
- `disordsnltros.gifts`  => This is a domain I saw today in

[2021-12-30 16:23] iam-py-test commented on #600
@Trainax please provide specific urls.
The first redirects to Google even when I VPN to Italy or the US and the second one is blank

[2021-12-30 16:27] Trainax commented on #600
Here are the screenshots my friend made

The SMS he received

![pacco_trattenuto_1](https://user-images.githubusercontent.com/30187360/147769888-d0dbdaf8-48a1-4558-96ba-120d62ee121c.jpg)

After clicking the link in the SMS this page opened

![pacco_trattenuto_2](https://user-images.githubusercontent.com/30187360/147769878-960cf968-28fd-441d-9517-48d78927e3f2.jpg)

[2021-12-30 16:30] iam-py-test commented on #600
I got redirected to `hxxpx[:]//corriertt.parceldlvr[.]xyz/lmed/it/clstrack/?p=100&uclick=u3ftdu&uclickhash=u3ftdu-u3ftdu-k2-0-x9-fnwj-he6o-fa03b0`. Can you add that?
Also, I think, based on the url, that `avomas.me` might be some kind of url shortener.

[2021-12-30 16:38] Trainax commented on #600
Sure, I will add it to my list in the first comment

It might be. I don't know. I inserted it in my first comment because I thought it was the website used specifically for this. I will remove it for now.

I have searched and found [this article in Italian](https://notizieh24.eu/sms-per-pacco-in-sospeso-da-ips-ma-e-un-tentativo-di-smishing/) which says that website is a smishing attempt, in the ar

[2021-12-30 16:39] iam-py-test commented on #600
Yep, now that I look into it, it seems to be a trial version of a payment gateway hosted on the scammer's domain.
Thanks @Trainax

[2021-12-30 16:41] Trainax commented on #600
Do you think I should also add `choicemonitor.top` to my list in the first comment?

[2021-12-30 16:42] iam-py-test commented on #600
I think yes, but I'm no expert.
I am working on reporting it for abuse so hope it will soon be down (though some abuse teams take months to reply)

[2021-12-30 16:46] Trainax commented on #600
I have added it to my add request list for now.

Thanks @iam-py-test and have a nice day!

[2021-12-30 18:04] JobcenterTycoon opened #601 "[Remove Request] - mystats.com"
URL you wish to be removed: `https://www.mystats.com`

Why you believe this to be a false positive: I can’t see any malware

List it is on: `https://raw.githubusercontent.com/blocklistproject/Lists/master/malware.txt`

Other info you think we should know: https://github.com/uBlockOrigin/uAssets/issues/11139

[2021-12-30 21:41] spirillen commented on #600
Hey nice conversation you had... I come to think of phishing rather than scam, one of same, but phishing will request some personal info; So what would happen if you click the "monitora il tuo ordine" ?? will it start request information's?

[2021-12-30 22:16] iam-py-test commented on #600
I think phishing is a type of scam, but I'm not sure
I just said scammer as "phisher" just sounds wrong to me. It does request information though (payment info)

[2021-12-30 23:17] spirillen commented on #600
Well according to the Old guy (the 90's) definition and Wikipedia then the sort version is for differences

**Scam** is trying to convince you to buy something that isn't real, like a car that do not exist.

**Phishing** it when they are disguising themself like a a nice car like a nice new BMW 7M while the car in fact is a old Fiat 500

The common is to hustle money, but in two different ways

|

[2021-12-31 06:51] Trainax commented on #600
My friend said that after clicking the button a web page opened which showed the package was being held at the distribution center and the website was asking for money to unlock the package from the distribution center and allow the delivery.

Do you think I should modify my add request to add the domains to phishing list instead of scam?

[2021-12-31 13:04] iam-py-test commented on #600
The new domain seems dead:
![image](https://user-images.githubusercontent.com/84232764/147824894-58ba9bd4-e742-40a6-a616-3a4c9febb1ee.png)

[2021-12-31 14:28] spirillen commented on #600
@iam-py-test that is only a temporarily down message, I have added it to https://github.com/mitchellkrogza/phishing so I think it will be marked as suspected as phishing later by [cloudflare](https://mypdns.org/my-privacy-dns/matrix/-/issues/1794)

Thanks @Trainax for reporting these and spending the time to investigate this case, also a HUGE thanks to you friend for taking those awesome screensho

[2021-12-31 14:46] Trainax commented on #600
I would like to add another domain. Yesterday I received a SMS telling me I have left some articles in the basket of an online shop I've never heard before and I think this is also phishing.

Here's the screenshot of the message I received.
![articoli_carrello](https://user-images.githubusercontent.com/30187360/147828870-223852fc-28bf-4475-8090-a4182da18f1d.jpg)

Translation:

[2021-12-31 14:57] iam-py-test commented on #600
Probably a phish too:
![image](https://user-images.githubusercontent.com/84232764/147829397-f5b4787d-09a6-4e84-81b1-2c8d753777f6.png)

[2021-12-31 15:24] spirillen commented on #600
This that the end destination for above link @iam-py-test ? or is it an entirely new case?

[2021-12-31 15:47] iam-py-test commented on #600
Yep, dead
Maybe they are watching for references??

[2021-12-31 16:18] spirillen commented on #600
Should I understand this as you can't reproduce `choicemonitor.top`?

Many of those phishing url only have a few shorts in them to avoid being detected / confirm, that's among the reason why my issue templates requires some proofs, and a screenshot is a powerful on :smirk: :wink:

[2021-12-31 16:20] iam-py-test commented on #600
I can't investigate further right now as I'm busy doing something else

[2022-01-01 08:48] Trainax commented on #600
Happy New Year everyone!

Since we are doing this I would like to also add other domains which were in other SMS I have received.

**First SMS**

![avviso_falso](https://user-images.githubusercontent.com/30187360/147846936-614fd459-c69d-42ab-92da-a09b0c92aab9.jpg)

Translation

**Second SMS**

![immagine](https://user-images.githubusercontent.com/30187360/147847005-cadfa937-5e5d-46e5-a5a9-fc208d76

[2022-01-01 11:12] spirillen commented on #600
Damned, Have been reconsidering a new phone number :open_mouth:

Usually I would say each of these are a new issue (My politic) and I for sure embrace these reports non the less.

- `jt2v.com` (DEAD)

<details><summary>note to self (@spirillen)</summary>

referals:
  - `aranu.ir` (https://mypdns.org/my-privacy-dns/matrix/-/issues/4167)
  - `preview-domain.com` (https://mypdns.org/my-privacy-dns/ma

[2022-01-01 11:18] Trainax commented on #600
I too would consider opening one issue for each domain, however every domain except `hellothere.shop`, `conv-alida-recapiro-com.preview-domain.com`, `disordsnltros.gifts` and maybe `jt2v.com` are all about a package being held or similar so I thought about grouping them.

Do you think I shoud move those domains to a separate issue?

[2022-01-01 13:02] iam-py-test commented on #600
The second one just returned a 404 for me, but is detected by 3 engines: https://www.virustotal.com/gui/url/b45f9e872da1341bf0675e1d3666177b101e591c5ed5b35845159a01d3e54f4e
Third is also a 404 and VT clean
Four has been taken down and is detected by MS
Five returns a 404 but is detected by 4 engines: https://www.virustotal.com/gui/url/e1742ef8efd269542f57adfc1f81231518c757ffdf94aa3397631ce67786f4f

[2022-01-01 14:27] spirillen commented on #600
Next time :smile: Now it is done and as far I know, nodoby died

[2022-01-01 14:32] spirillen commented on #600
@iam-py-test

first, second, third etc, could you right the domain/url instead, it become impossible to decode and follow your answer

And what was the real answer to `choicemonitor.top` is it a independent phishing domain that should be blacklisted as phishing or is it a innocent real payment gateway abused by scammers?

[2022-01-01 14:33] iam-py-test commented on #600
I meant relating to the OP's comment https://github.com/blocklistproject/Lists/issues/600#issuecomment-1003527561

No idea. I reached out to the owners, but, due to New Years, I have revived no response.

[2022-01-01 18:07] spirillen commented on #600
Super, putting it on hold to you ping back

[2022-01-01 20:33] SkewedZeppelin opened #603 "License Conflict"
This project is licensed under Unlicense, which is a very permissive license.
However these following files are nearly identical (99%) to the proprietary hpHosts files:
[code]

See here for numbers:
https://gist.github.com/SkewedZeppelin/cc0f2bba84257c264ceba05a0bad965e

[2022-01-01 20:55] SkewedZeppelin commented on #603
@ignoramous you might be interested in this

[2022-01-01 21:11] spirillen commented on #603
the host-files was taking down and given as is to the blacklist community, unfortunately I didn't save these words at the time, however I kept a copy of everything else, including the README here https://bitbucket.org/expiredsources/hosts-file.net/src/master/ before it was completely removed by malwarebytes.

[2022-01-02 05:37] ignoramous commented on #603
Thanks for the ping.

Folks I spoke to (who weren't lawyers) consider hostfiles to be "documents" and not "code", and hence believe code-specific licenses like APLv2, MPLv2, xGPLs do not cover them: https://github.com/bongochong/CombinedPrivacyBlockLists/issues/14#issuecomment-922482847

Not saying license is violated, because see also (for added confusion): AdroitAdorKhan/EnergizedProtection/issu

[2022-01-02 13:14] Akulinas commented on #575
@cryptogap
[https://sitecheck.sucuri.net/results/b.hatena.ne.jp](url)
![screenshot,2022/01/02](https://user-images.githubusercontent.com/55057707/147876990-f5493671-58f3-4468-b8d8-f0cfbc5560e6.jpg)

[2022-01-03 01:13] gyCfjSnO opened #604 "[Remove Request] - pcapredict.com"
URL you wish to be removed: pcapredict.com

Why you believe this to be a false positive: This site needs to be whitelisted as it's for address verification & data cleansing

List it is on: Block List Project: Tracking

Other info you think we should know:

[2022-01-04 12:14] 1alessandro1 opened #605 "[Edit request] Invalid URLs report"
URL you wish to be checked:

[code]

Why you believe this should be checked:

 Because there are errors reported by pi-hole

[2022-01-05 07:44] spradeep opened #606 "[Remove Request] -"
URL you wish to be removed: imgak.mmtcdn.com

Why you believe this to be a false positive: image cdn for makemytrip.com, site is broken if this is blocked

List it is on: ads

Other info you think we should know:

[2022-01-05 07:45] spradeep opened #607 "[Remove Request] -"
URL you wish to be removed: jsak.mmtcdn.com

Why you believe this to be a false positive: JS/scripts CDN for makemytrip.com, site comes broken

List it is on: ads

Other info you think we should know:

[2022-01-06 02:07] abqwildcat opened #609 "[Remove Request] - medpagetoday.com"
URL you wish to be removed:
www.medpagetoday.com

Why you believe this to be a false positive:
This site hosts legitimate news in the arena of medical information, and is reputable.

List it is on:
malware

Other info you think we should know:

[2022-01-06 13:32] RicoHeat opened #610 "Header Dates on Lists"
@blocklistproject
Please update the dates on the lists because if one is to open from a website like filterlists.com then users may think that the lists aren't being updated.. For example https://raw.githubusercontent.com/blocklistproject/Lists/master/alt-version/basic-nl.txt was updated 15 days ago but the list says June 2020. Thank you for your work and have a great day! 👍

[2022-01-08 04:51] DevShubam opened #611 "[Remove Request] - phicdn.net"
URL you wish to be removed:
phicdn.net

Why you believe this to be a false positive:
Blocks TD’s login (Bank in Canada)

List it is on:
Tracking

Other info you think we should know:

[2022-01-11 02:47] smcclosr opened #612 "[Add request] domains to tiktok"
URL you wish to be added:

api16-core-useast5.us.tiktokv.com
api16-normal-useast5.us.tiktokv.com
api19-core-useast5.us.tiktokv.com
api19-normal-useast5.us.tiktokv.com
dig.us.tiktokv.com
frontier.us.tiktokv.com
hotapi16-platform-useast5.us.tiktokv.com
im16-platform-useast5.us.tiktokv.com
image.us.tiktokv.com
jsb16-normal-c-useast1a.tiktokv.com
lf16-effectcdn-va.tiktokcdn.com
lf19-effectcdn-va.tikto

[2022-01-11 09:51] SodaWithoutSparkles opened #613 "[Add request] - discord phishing links"
URL you wish to be added:
premiums-gift.com
discqrde.com
Edit: `https://e-giftnitro.com/`

Why you believe this should be added: "free discord nitro"

Add to list: phishing

Other info you think we should know: seen in discord

[2022-01-12 10:38] thomasmerz commented on #571
@cryptogap , can you please review and merge linked PR #574 if ok? Thanks a lot!

[2022-01-12 10:38] thomasmerz commented on #572
@cryptogap , can you please review and merge linked PR #573 if ok? Thanks a lot!

[2022-01-12 20:37] vijov47 opened #614 "Blocklisted Reason please[Add request]"
URL you wish to be added:https://intercityindustrial.com/

Why you believe this should be added: The above URL listed for malware and the Wi-Fi is blocking .Need to know the reason please

Add to list:

Other info you think we should know:
We need to remove our URL from the malware list ASAP
Please help to figure it out

[2022-01-14 16:03] JobcenterTycoon opened #615 "[Add request] many fake domains"
URL you wish to be added:
<details>

[code]

</details>

Why you believe this should be added: Same as https://github.com/blocklistproject/Lists/issues/588

Add to list: abuse, the last one in malware

Other info you think we should know: See https://github.com/blocklistproject/Lists/issues/588

[2022-01-14 21:45] ehnwebmaster commented on #599
How many days you need to remove ns2.elhacker.net from your list?

[2022-01-14 22:23] iam-py-test commented on #599
Based on past experience, @blocklistproject @cryptogap doesn't often check this repo.
Just a reminder, we are all volunteers and do this in our spare time. _There is nothing @spirillen  or I can do anyway as neither of use has access to this repo_

I don't see any issues with your website in a very quick check, apart from the fact that I can SSH in with the username admin. I wasn't able to get pas

[2022-01-14 22:59] ehnwebmaster commented on #599
Yes, you can login if you want SSH with admin, root or whatever user at third intent, because it's a **HoneyPot** (cowrie dockerized) and your IP will be logged and reported here https://www.abuseipdb.com/user/52197

Also RDP 3389 is "fake", Telnet, MySQL, port and many, many others. But 80 and 443 (https) are "real" and working and not hosting **_malware_**.

[2022-01-14 23:14] iam-py-test commented on #599
Ah. I'm an idiot, sorry.
It was a smart idea to set up a honeypot :)

[2022-01-16 09:24] Trainax commented on #600
Hello everyone. Two weeks have gone by. Are there any updates on this?

Can we close this issue with a PR?

[2022-01-16 12:43] iam-py-test commented on #600
It doesn't matter if @cryptogap @blocklistproject doesn't check this repo
@fishcharlie maybe you can handle it instead?

[2022-01-16 13:03] fishcharlie commented on #600
I'll look at this later today.

[2022-01-16 19:22] JobcenterTycoon opened #616 "[Remove Request] - asknet.de"
URL you wish to be removed: `asknet.de`

Why you believe this to be a false positive: I see no malware on this domain it just redirect to `https://asknet-solutions.com/de/`

List it is on:
https://blocklistproject.github.io/Lists/malware.txt
https://blocklistproject.github.io/Lists/abuse.txt

[2022-01-16 19:27] n0svc commented on #605
Just a bit of info. Take it or trash it. It may be too much hassle to bother with.

The problem is characters that pi-hole doesn't support. If it is not to hard or does not cause problems with other uses the offending domains (with invalid characters) could be changed to punycode.

example  "#' is invalid domain followed by punycode (accepted by pi-hole)
[code]

It would be nice if pi-hole would c

[2022-01-17 00:02] #571 closed

[2022-01-17 00:07] #600 closed

[2022-01-17 02:47] iam-py-test commented on #600
Thanks @fishcharlie

[2022-01-17 20:52] spirillen commented on #605
This is not a pi-hole related issue, it clear that RFC:1952 never was designed to support IDNA domains, therefor they need to be converted, the same goes for DNS zones, there is no differ, if you should see otherwise in any web interface, it is related to translation.

[2022-01-17 20:53] MinusFour commented on #599
I was using my Github account and got the same message. I then thought it didn't go through because I needed to use a gitlab.com account. Then I realized it's a self-hosted gitlab instance. But anyway, we both have our accounts approved now, though it doesn't seem to do us any good until this issue gets resolved since as I understand it you import the site list from here.

[2022-01-17 21:05] spirillen commented on #599
Hey @MinusFour As I mentioned here (https://mypdns.org/my-privacy-dns/matrix/-/issues/4306#note_33149) then the hosts.source was never thought to be used for blacklisting, but mostly as a lookup library.

On the other hands you are right, as long as it is in these lists, you should add it to your own whitelists

---------------------

About the signup

If I understand it correct, then you tried to

[2022-01-17 21:18] MinusFour commented on #599
I can't speak for @ehnwebmaster but I tried using both github and gitlab oauth as you said and I was greeted with the same error which was the same as @ehnwebmaster.

After figuring out it was a self hosted gitlab instance, I just thought that account creation had to be validated by someone. I don't know if that's specified anywhere else. I tried looking on some of the repos around but couldn't fi

[2022-01-17 21:27] spirillen commented on #599
Right

Nope your own, I only import external sources here.

But how do you use the list?

Maybe I can think of something that can help you

Ok... I don't know what to do then... But i'm guessing I should make a ticket at gitlab about it. as the intention was you should be able to signup/login via the oauth.

[2022-01-17 21:43] MinusFour commented on #599
We don't use my-privacy-dns but I'd figure if anyone else was using your list then at least the domain would be marked as valid even though it appears on other blacklists because of false positives. At the very least someone could have found out that it's a safe domain by looking at it.

Anyway, I guess we'll just keep up clearing up false positives wherever we found them. No magic bullet about it

[2022-01-17 21:58] spirillen commented on #599
The error and setup actually happens in the `/etc/gitlab/gitlab.rb` https://docs.gitlab.com/ee/integration/omniauth.html and if you follows that guide, any login generates 503 errors

well this is getting of topic.

[2022-01-17 23:29] spirillen commented on #613
Hey @SodaWithoutSparkles I've tryed to access both domain to verify, but they do not respond

[code]

[2022-01-18 02:33] SodaWithoutSparkles commented on #613
Be careful of actually getting phished. Use caution. Use incognito mode.

https://discqrde.com/UFDeEmMeCVocD
https://premiums-gift.com/

[2022-01-18 02:44] spirillen commented on #613
Don't worry, personally I'm on the safe site, however you should add backtics around the links :wink:

[2022-01-18 02:47] SodaWithoutSparkles commented on #613
Good idea. Hope that they wont decide to copy and paste the links!

[2022-01-18 14:21] fboulay opened #617 "[Remove Request] - gamekult.com"
URL you wish to be removed:
`gamekult.com` and `www.gamekult.com`

Why you believe this to be a false positive:
This is legit video games news website

List it is on:
malware

Other info you think we should know:

[2022-01-18 19:14] fishcharlie commented on #610
This is something I can work on taking care of when I get some time. Assigning to myself.

[2022-01-18 19:18] fishcharlie commented on #533
@iam-py-test is (*basically*) correct here. You can view the code for how the everything list gets generated [here](https://github.com/blocklistproject/Lists/blob/master/scripts/create-everything-list.js).

The important part is that there is a hardcoded array of lists to include. So new lists must be added to that array in order to get included in the everything list.

As you can see as well, som

[2022-01-18 19:18] #533 closed

[2022-01-18 20:09] spirillen commented on #613
Yeah `premiums-gift.com` seems dead,

but I'm not going to trust it stays dead...

[code]

[code]

[2022-01-18 21:22] fishcharlie commented on #610
It looks like most lists have removed the dates. So when I get time to work on this I'll add a step to the lint job to ensure that no dates exist in the headers, and remove them from the `basic` list (and others if necessary).

[2022-01-19 15:18] PikaDude opened #618 "[Remove Request] - ow-api.com"
URL you wish to be removed:
ow-api.com
www.ow-api.com

Why you believe this to be a false positive:
It's just an unofficial JSON API for Overwatch stats.

List it is on:
malware and abuse (maybe more?)

Other info you think we should know:
Malwarebytes had it as a false positive at some point https://forums.malwarebytes.com/topic/265688-ow-apicom/

[2022-01-19 20:56] thomasmerz opened #620 "[Remove Request] - www.docmorris.de + docmorris.de"
# URL you wish to be removed:
www.docmorris.de
docmorris.de

# Why you believe this to be a false positive:
See https://nl.wikipedia.org/wiki/DocMorris

(translated from german to english by www.deepl.com)

# List it is on:
https://raw.githubusercontent.com/blocklistproject/Lists/master/drugs.txt

# Other info you think we should know:
Have a look at their (german) blog to get an impression that t

[2022-01-19 21:15] thomasmerz commented on #620
Please review and merge my PR: https://github.com/blocklistproject/Lists/pull/621

[2022-01-19 22:07] fishcharlie commented on #571
@thomasmerz This issue is already closed. So I don't understand what you mean.

[2022-01-19 22:50] thomasmerz commented on #571
Ups, I left this issue open in my browser for a while and didn't reload and therefore didn't notice - sorry for the inconvenience 🤷🏻‍♂️

[2022-01-19 23:08] fishcharlie commented on #571
No problem! @thomasmerz

[2022-01-20 06:23] jjtbsomhorst opened #622 "[Add request]"
URL you wish to be added: ads.pexi.nl, track.pexi.nl

Why you believe this should be added: their website clearly says they are advertising company

Add to list: tracking

Other info you think we should know:

[2022-01-20 12:09] mok0 opened #623 "Please add malware sites associated with SysJoker exploit"
There are a few domains used in the Command-and-Control of this exploit, please see:

https://www.intezer.com/blog/malware-analysis/new-backdoor-sysjoker/

[2022-01-20 15:09] thomasmerz commented on #605
PR #574 has already been merged - but PR #573 (which deals with some "spanish" IDNA domain(s)) is still open. Who can and will review and merge it? 🤔

[2022-01-21 13:20] SodaWithoutSparkles commented on #613
Edit: https://e-giftnitro.com/

Same reason

[2022-01-21 13:52] iam-py-test commented on #613
Blocklisted in my lists and [reported](https://report.netcraft.com/submission/PnNfE5p2PKokATPdjftySzZoizSR5scW). Thanks

[2022-01-21 21:43] scriptjunkie opened #624 "[Remove Request] - scriptjunkie.us"
URL you wish to be removed: scriptjunkie.us

Why you believe this to be a false positive: It doesn't launch any attacks or other malicious behavior, and it's my site.

List it is on: malware

Other info you think we should know: I don't see any reason why it was added so I'm not sure what to say. It's just not bad. I have explained cyber security topics and hacking techniques on the site, so maybe

[2022-01-24 13:41] dprall opened #625 "[Add request] - p4ym.com"
URL you wish to be added: p4ym.com

Why you believe this should be added: Porn

Add to list: porn

Other info you think we should know:

[2022-01-29 17:18] Titomrock21 opened #626 "[Add request] - Porn"
URL you wish to be added:

`https://camstreams.tv`
`https://www.redputas.com`
`https://kanporno.com`
`https://www.littleasians.com`
`https://tenshigao.com`
`https://tomodachinpo.com`
`https://qckprn.com`
`https://xecce.com`
`https://futporn.com`
`https://www.tubepots.com`
`https://www.hubpussy.com`
`https://hentaied.com`
`https://hentaied.com`
`https://orgasmusporn.com`
`https://pornosauna.com`
`h

[2022-01-29 20:45] LewisSpring opened #627 "[Remove Request] - downloads.khinsider.com / Abuse"
URL you wish to be removed:
downloads.khinsider.com

Why you believe this to be a false positive:
I have not heard anything bad about the site, It is a video game soundtrack download site.

List it is on:
Abuse

Other info you think we should know:

[2022-01-29 21:18] usr-dot-com opened #628 "[Remove Request] - 2 domains invalid on phishing list"
URL you wish to be removed:
- госуспуги.рф
- госуслуги-госномера.рф

Why you believe this to be a false positive:  Updating gravity on Pi-hole returns `2 domains invalid!`

List it is on: phishing.txt

Other info you think we should know:

[2022-01-30 05:36] spirillen commented on #628
Shall e IDNA converted according to RFC:952

[code]

[2022-01-30 07:12] spirillen commented on #626
Hey @Titomrock21

Have you seen there have been developed a one click commit add-on for the PR repo?

https://mypdns.org/infrastructure/porn-report

It makes reports that looks like this:

bareporno.com = https://mypdns.org/my-privacy-dns/porn-records/-/issues/34316

[2022-01-30 08:53] Titomrock21 commented on #626
Hi @spirillen
thx for link, i would try this but i don't understand how to use it...

[2022-01-30 15:39] spirillen commented on #626
your welcome, If you feel like becoming a moderator, then there are roughly ~40000 and counting issue, that need a human verification.

Ask Dante in https://mypdns.org/infrastructure/porn-report/-/issues/13, I have issues setting the API-Kay as well.

[2022-01-30 18:04] Titomrock21 commented on #626
Wow !!
I saw, I don't think I have the development skills to be a contributor... I installed the chrome extension, I think it works well.

[2022-01-30 21:54] spirillen commented on #626
Let's continue the talk on https://mypdns.org/mypdns/support/-/issues that is more appropiate than using other repos fores. just mention me in the message and I get a notification mail.

I wont see it in the todo list ...

![image](https://user-images.githubusercontent.com/44526987/151719410-4bc5564b-238c-4ecf-babc-51fbc6249d2c.png)

[2022-02-04 03:19] majick opened #629 "[Remove Request] - ask.metafilter.com"
URL you wish to be removed:
ask.metafilter.com

Why you believe this to be a false positive:
This is not only a reputable site, it's one of the original reputable sites.  It absolutely should not appear on a list of "sites designed to deceive," as abuse.txt is described.

List it is on:
https://raw.githubusercontent.com/blocklistproject/Lists/master/abuse.txt

Other info you think we should know:

[2022-02-04 10:38] fboulay opened #630 "[Remove Request] - fastlane.tools"
URL you wish to be removed:
fastlane.tools

Why you believe this to be a false positive:
This a tool to automate tasks for mobile applications, like deploying on the Google Play Store.

List it is on: `ads`

Other info you think we should know:

[2022-02-07 04:45] techroy23 opened #631 "[Add request] Redirect / Tracking"
URL you wish to be added:

extoso.com
tjcttxdfelb.com
cdexvangxfarwl.com
aaotpokaquathii.com
worldcoolfeed.com
srghsmpyvvko.com
hidelen.com

Why you believe this should be added:

links utilized for redirects.

Add to list:

[redirect.txt](https://github.com/blocklistproject/Lists/blob/master/redirect.txt)

Other info you think we should know:

[2022-02-07 10:37] Akulinas opened #632 "[Add request] Ads List"
URL you wish to be added:
a.line.me
sch.line.me
crs-event.line.me
lap-click.tr.line.me
ga2.line.naver.jp
ga2x.line.naver.jp
gs2.line.naver.jp
gs2x.line.naver.jp
gw.line.naver.jp
ns1.line.naver.jp
ns2.line.naver.jp
adns1.line.naver.com
adns2.line.naver.com
nelo2-col.linecorp.com
d.line-scdn.net
obs.line-scdn.net
appresource.line-scdn.net
vos.line-scdn.net
static.line-scdn.net
ci.line-apps.com
cix.l

[2022-02-08 11:50] #572 closed

[2022-02-08 11:55] cryptogap commented on #632
This has been completed and will be included in the next push

[2022-02-08 11:55] #632 closed

[2022-02-08 11:56] cryptogap commented on #631
This has been added and will be included in the next push

[2022-02-08 11:56] #631 closed

[2022-02-08 11:57] cryptogap commented on #626
This has been added and will be included in the next push

[2022-02-08 11:57] #626 closed

[2022-02-08 12:00] cryptogap commented on #615
These have been added to abuse and will be included in the next push

[2022-02-08 12:00] #615 closed

[2022-02-08 12:02] cryptogap commented on #614
I looks like your site at some point has malicious code. I have scanned it and removed it from our lists

[2022-02-08 12:02] #614 closed

[2022-02-08 12:04] cryptogap commented on #613
These have been added and will be included in the next push

[2022-02-08 12:04] #613 closed

[2022-02-08 12:06] cryptogap commented on #630
This has been removed in our next push

[2022-02-08 12:06] #630 closed

[2022-02-08 12:06] cryptogap commented on #629
This has been removed in our next push

[2022-02-08 12:06] #629 closed

[2022-02-08 12:07] cryptogap commented on #628
These have been removed and converted versions added

[2022-02-08 12:07] #628 closed

[2022-02-08 12:10] cryptogap commented on #623
These have been added and will be in our next push

[2022-02-08 12:10] #623 closed

[2022-02-08 12:10] cryptogap commented on #620
These have been removed

[2022-02-08 12:10] #620 closed

[2022-02-08 12:11] cryptogap commented on #618
These have been removed

[2022-02-08 12:11] #618 closed

[2022-02-08 12:12] cryptogap commented on #575
This has been removed

[2022-02-08 12:12] #575 closed

[2022-02-08 12:13] cryptogap commented on #601
This has been removed

[2022-02-08 12:13] #601 closed

[2022-02-08 12:13] cryptogap commented on #597
This has been removed

[2022-02-08 12:13] #597 closed

[2022-02-08 12:14] #579 closed

[2022-02-08 12:15] cryptogap commented on #609
This has been removed in our next push

[2022-02-08 12:15] #609 closed

[2022-02-08 13:45] vijov47 commented on #614
Thank you so much.
Any chance to know how the code may came?
What kind of code it was?
Which tool used to scan and remove it?
The website was done by a company Shout-media.

Thanks again for your time invested for this.

[2022-02-09 00:28] p1r473 opened #634 "[Remove Request] - dummysoftware.com www.dummysoftware.com"
URL you wish to be removed:
dummysoftware.com www.dummysoftware.com

Why you believe this to be a false positive:
This is the website of a Chrome extension developer. They are not malicious softwares,

List it is on: fraud.txt

[2022-02-11 17:43] matt-firefinch opened #635 "[Remove Request] - https://www.spiritofthai.com/"
URL you wish to be removed:

https://www.spiritofthai.com/

Why you believe this to be a false positive:

It's just a local Thai restaurant near me in Ediburgh. I'm not sure what they could have done!

List it is on:

https://blocklistproject.github.io/Lists/abuse.txt

Other info you think we should know:

[2022-02-12 15:11] majick opened #636 "[Remove Request] - project-rainbowcrack.com"
URL you wish to be removed:
project-rainbowcrack.com

Why you believe this to be a false positive:
This is the well-known site for a standard security analysis tool.  The site is not malicious nor is the software it distributes. There are no indications of compromise to the site itself, its supply chain, or the downloaded artifacts.  It does not meet this list's definition of "sites intended to de

[2022-02-13 09:33] PeterDaveHello opened #637 "[Remove Request] - mail.gandi.net"
## URL you wish to be removed:

mail.gandi.net

## Why you believe this to be a false positive:

It's Gandi's mail server, not sure why it's banned?

Reference:

- https://docs.gandi.net/en/gandimail/standard_email_settings/

## List it is on:

- malware
- everything

[2022-02-13 09:38] PeterDaveHello commented on #637
cc #108

[2022-02-14 20:31] labrocca opened #639 "[Remove Request] - HackForums.net (abuse)"
URL you wish to be removed: hackforums.net

Why you believe this to be a false positive:  Legit site, not meant to deceive. Has hundreds of thousands of members.

List it is on: abuse

Other info you think we should know:

[2022-02-14 20:34] Sheffybarbe commented on #639
Agreed, site isn't harmful at all.

[2022-02-14 20:59] ProofHF commented on #639
Agree as well, block should be removed. Will not bother using an MBAM solutions meanwhile.

[2022-02-14 21:41] labrocca commented on #639
Well the list is "abuse" and label is for "Lists of sites created to deceive" domains, which HF is completely inaccurate.

[2022-02-14 22:28] NintendoHF commented on #639
Best forum out there I'm a active user of the community and I agree this should be removed from the list.

[2022-02-15 01:30] Jakes-Lab opened #640 "[Remove Request] - doc.emergingthreats.net"
URL you wish to be removed:

doc.emergingthreats.net

Why you believe this to be a false positive:

This is the documentation wiki for ProofPoint's IDS/IPS rulesets. Was quite surprised to find it was blocked on the malware domain list.

List it is on:

malware

[2022-02-16 06:26] xjrb10 opened #641 "[Add request] Various NSFW imagebooru sites"
URL you wish to be added:
rule34.paheal.net
konachan.com
yande.re

Why you believe this should be added: NSFW

Add to list: https://blocklistproject.github.io/Lists/porn.txt

Other info you think we should know:
konachan.net is a filtered version of the website

[2022-02-16 08:10] marktopper commented on #639
Vouching for HackForums as a legitimate forum. The site doesn't allow nor support any illegal activity, it's a community to learn about cybersecurity.

[2022-02-16 23:11] spirillen commented on #641
@xjrb10  did you know Dante have made a browser [add-on](https://mypdns.org/infrastructure/mypdns-report) for this?

[2022-02-17 22:38] PURE-CODER-1 commented on #639
I vouch for HackForums. One of the Best Websites on the Internet for learning cybersecurity for FREE.

[2022-02-19 17:47] Tricky-M opened #644 "[Remove Request] - cdn.cookielaw.org"
URL you wish to be removed: cdn.cookielaw.org

Why you believe this to be a false positive: Some websites break when blocked (scrolling [on here](https://www.sweatybetty.com/) as cookie banner blocked), regarding regulations, etc.

List it is on: [ads](https://blocklistproject.github.io/Lists/ads.txt)

Other info you think we should know: Has been removed from gambling list already #33

[2022-02-20 17:41] thomasmerz commented on #544
My PR is merged, can anyone please close this issue? Thanks 😗

[2022-02-20 22:19] thomasmerz commented on #605
Again, please close this issue, because it's done via both the linked PRs. Thank you 👍🏻

[2022-02-20 22:29] thomasmerz commented on #610
- [x] Removed dates from `basic` and `crypto` lists: PR #647
- [ ] add a step to the lint job

[2022-02-20 23:06] blocklistproject commented on #640
This has been fixed. Thank you

[2022-02-20 23:06] #640 closed

[2022-02-20 23:08] thomasmerz commented on #612
I've made PR #648 for this. Please review and merge.

[2022-02-20 23:17] thomasmerz commented on #616
I made PR #649 for this issue. Please review and merge.

[2022-02-20 23:21] thomasmerz commented on #617
I made PR #650 for this. Please review and merge.

[2022-02-20 23:28] thomasmerz commented on #622
I made PR #651 for this issue. Please review and merge 👍🏻

[2022-02-20 23:34] thomasmerz commented on #624
I made PR #652 for this issue. Please review and merge.

[2022-02-20 23:41] thomasmerz commented on #625
I've created PR #653 for this issue. Please review and merge 👍🏻

[2022-02-20 23:47] thomasmerz commented on #634
I've create PR #654 for this issue. Please review and merge.

[2022-02-20 23:50] thomasmerz commented on #635
I've created PR #655 for this issue, because the thai food really looks yummy 😋 Please review and merge.

[2022-02-20 23:52] thomasmerz commented on #636
I agree. See https://en.wikipedia.org/wiki/RainbowCrack 👍🏻

[2022-02-20 23:55] thomasmerz commented on #636
I've created PR #656 for this issue. Please review and merge.

[2022-02-20 23:59] thomasmerz commented on #637
I've created PR #657 for this issue. Please review and merge.

[2022-02-21 00:16] p1r473 commented on #634
Looks good 👍🏻

[2022-02-21 00:18] thomasmerz commented on #639
Guys, don't complain, feel free to make a PR next time. This time I did it for you: #658
This took only few minutes:
[code]

[2022-02-21 00:23] thomasmerz commented on #641
I created PR #659 for this issue. Please review and merge.

[2022-02-21 00:27] thomasmerz commented on #644
Please review and merge my PR #660

[2022-02-21 00:29] thomasmerz commented on #610
@fishcharlie and @cryptogap - WHO will close any issue if it's solved by a merged PR? The creator of the issue or the merger? 🤷🏻‍♂️ This would really help to keep track of what-to-do and what-is-done. 😗

[2022-02-21 00:31] fishcharlie commented on #610
@thomasmerz I don't have permissions to close issues (yet). Will ensure this gets done soon tho.

[2022-02-21 00:34] thomasmerz commented on #610
Well, anyone with merge-permissions should also be able to close issues as well. I upvote this 😄

[2022-02-21 00:38] thomasmerz commented on #610
Or a [GH action](https://github.com/marketplace/actions/closes-issues-related-to-a-merged-pull-request) could do this automatically!? Do you want a PR for this? 😜

[2022-02-21 00:46] #610 closed

[2022-02-21 00:46] fishcharlie commented on #610
I forgot they moved the close button on the mobile app

[2022-02-21 05:25] #616 closed

[2022-02-21 08:28] thomasmerz commented on #391
My suggestion: https://github.com/marketplace/actions/closes-issues-related-to-a-merged-pull-request
I could test it in my fork if you are generally agreeing that an GH action would be fine for you…

[2022-02-21 15:54] fishcharlie commented on #391
@thomasmerz Sorry. Don't support this. GitHub already has that built in if you include the correct text in the pull request body. No need to add additional complexity here.

[2022-02-21 16:04] thomasmerz commented on #391
Ah, ok, I wondered on some other repos how it comes that issues seem to be autoclosed when PR was merged and I didn't find any GH action. I think you mean [this](https://docs.github.com/en/issues/tracking-your-work-with-issues/linking-a-pull-request-to-an-issue#linking-a-pull-request-to-an-issue-using-a-keyword)?

That's really nice and could save all contributors and collaborateurs much time/effo

[2022-02-21 16:17] fishcharlie commented on #391
@thomasmerz Yep! That is what I'm referring to 😃

[2022-02-22 18:57] jesse9212 opened #661 "[Add request]"
New list:

Everything + Porn

Because... you know...

[2022-02-22 22:42] TruthfullEdward opened #662 "6 etxra p*rn websites that are not yet blocked"
URL you wish to be added: www.goldpornfilms.com www.bestandfree.com www.tubexclips.com www.lusthero.com www.teenda.com and gfpimps.com

Why you believe this should be added: To let the ones who use this filter to be safer on the internet.

Add to list: all URL's linked above.

Other info you think we should know: Reachability of sites tested in Linux. And confirmed that they are still reachable. (

[2022-02-23 01:51] TruthfullEdward opened #664 "518 + 260 additional URL's for p*rn-blocklist"
URL you wish to be added:  see documents below

Why you believe this should be added: To make internet for the Pi-Hole user a lot safer

Add to list: all the URL's below

Other info you think we should know:
One .txt file contains URL's with WWW (518) and the second one has URL's from the same list without www (260). All URL's have been tested in Linux for reachability. All of them are still reach

[2022-02-23 07:45] spirillen commented on #662
- goldpornfilms.com (https://mypdns.org/my-privacy-dns/porn-records/-/issues/2455)
- bestandfree.com (https://mypdns.org/my-privacy-dns/porn-records/-/issues/6319)
- tubexclips.com (https://mypdns.org/my-privacy-dns/porn-records/-/issues/2494)
- lusthero.com ()
- teenda.com (https://mypdns.org/my-privacy-dns/porn-records/-/issues/57476)

Just a friendly note, this looks like you have taken these r

[2022-02-23 09:15] thomasmerz commented on #664
Sorry, I had to remove some lines 🤷🏻‍♂️
`domain.tld/some_url` can't be filtered in host-format by Pi-hole and Co. This was the case for some reddit.com URLs.

[2022-02-23 18:22] TruthfullEdward commented on #662
@spirillen I just copied these URL's from the URL bar but not from the page you mentioned (mypdns.org) I do not know how this could have happened. But I still hope you will add those to your list.

[2022-02-23 18:26] TruthfullEdward commented on #664
@thomasmerz OK, hope you didn't had to remove too many of them. I checked the URL's with a bash. command and they were all reachable. If you would have some tips for me to avoid this 'mistake', please let me know.

[2022-02-23 18:51] thomasmerz commented on #664
@TruthfullEdward
I don't remember the exact number - but it hasn't been less than 10. No problem 😉

Remove these domains/lines and check domains afterwards:
[code]

[2022-02-23 18:59] TruthfullEdward commented on #664
@thomasmerz oh ok, I'm happy you didn't had to remove like half of it. I'll try the commands right away.

[2022-02-23 19:19] TruthfullEdward commented on #664
@thomasmerz The command you gave me deleted the entire content of file-with-domains.txt. (I'm not sure, but think this is caused by the pipe-command) No worries, I have backup.

[2022-02-23 19:22] thomasmerz commented on #664
Over here it worked fine 🤷🏻‍♂️

[2022-02-23 19:49] TruthfullEdward commented on #664
Ah, no, just made a little error (wrote $ d instead of $d). Took a bit of time to process the file. I've put the outcome in a .txt file. Please have a look at it and tell me if this time it's good.
[test2 new code.txt](https://github.com/blocklistproject/Lists/files/8127374/test2.new.code.txt)

[2022-02-23 22:03] thomasmerz commented on #664
No need to test - I included everything that was possible (99,999% 😄 ) of your input into PR #666  👍🏻

[2022-02-24 07:07] #664 closed

[2022-02-24 07:09] #639 closed

[2022-02-24 13:19] TruthfullEdward commented on #664
@blocklistproject Thank you for adding those URL's to your blocklist! Appreciate your quick reaction to my add request!

[2022-02-24 18:32] Rexadev opened #668 "[Remove Request] - soundindepth.com"
URL you wish to be removed: soundindepth.com

Why you believe this to be a false positive: Famous music website

List it is on: abuse, malware

Other info you think we should know:

[2022-02-24 22:55] jecc1982 opened #669 "[Remove Request] - gw.line.naver.jp"
URL you wish to be removed:
gw.line.naver.jp

Why you believe this to be a false positive:
LINE Messenger app in iOS appears to require this domain to log in and send messages.

List it is on:
Ads List

Other info you think we should know:
This domain was added in #632

[2022-02-24 23:08] jecc1982 commented on #669
In addition, this domain is not blocked by other lists:
https://blocklist-tools.developerdan.com/entries/search?q=gw.line.naver.jp

[2022-02-25 16:23] cryptogap commented on #668
This has been fixed and will be included in the next push

[2022-02-25 16:23] #668 closed

[2022-02-25 16:35] Rexadev commented on #668
Update NextDNS Intelligence Feed blocks it.

[2022-02-25 16:44] blocklistproject commented on #662
I am not sure that just because those URLs are on the mypdns.org website means they must be credited as found by that means.

[2022-02-25 16:47] blocklistproject commented on #662
These have been added and will be in the next push

[2022-02-25 16:47] #662 closed

[2022-02-25 16:48] blocklistproject commented on #596
This has been fixed and will be included in the next push

[2022-02-25 16:48] #596 closed

[2022-02-25 16:51] #605 closed

[2022-02-25 16:51] #612 closed

[2022-02-25 16:55] blocklistproject commented on #607
Recommend you whitelist for this issue as there seems to be other issues with this CDN

[2022-02-25 16:55] #607 closed

[2022-02-25 16:55] #544 closed

[2022-02-25 16:58] blocklistproject commented on #598
At this time due to the nature of the site and personally finding malware on the site, this site will remain on the block list. Please resubmit when you are better able to ensure there is no malware or illegally pirated software. Thank you

[2022-02-25 16:58] #598 closed

[2022-02-25 17:57] TruthfullEdward commented on #662
@blocklistproject Thanks a lot for adding these URL's!

[2022-02-25 18:40] spirillen commented on #662
That all ok, the reason is as you might suspect, the hit frequency 4 out of 5. We leave it here as a honest commit :+1:

@blocklistproject wrote:

It only applies as it comes from another project licensed under any FOSS license they do by default all requires information about the LICENSE + credit to source

I can then inform I do use the CC-BY-NC-4 for the PR + matrix lists, as I share for free,

[2022-02-25 18:42] spirillen commented on #605
@thomasmerz why don't you just add the `closes https://github.com/blocklistproject/Lists/issues/605` to the commit text?? That would close the issue on merge

[2022-02-25 18:48] TruthfullEdward commented on #662
@spirillen You can trust me, I didn't copy it from the 'mypdns' site.

[2022-02-25 18:53] spirillen commented on #662
I do as I tried to say before :) and you are always welcome at mypdns

[2022-02-25 19:07] TruthfullEdward commented on #662
@spirillen Looks an interesting tool! But can it also make an add request to the 'blocklistproject Github'?

[2022-02-25 19:29] thomasmerz commented on #605
I didn't know this "closes" or "fixes" Feature in GitHub before🤷🏻‍♂️ Now I know 😁

[2022-02-25 19:53] spirillen commented on #605
Then you after all had a god day, you learned something new

[2022-02-25 20:13] spirillen commented on #662
mypdns is a piracy democracy, all man are equal until the battle, then the Captain rules  :skull_and_crossbones:  unlike somewhere else at the moment.... :sob:

Yes you can make the request, but as MyPDNS is my baby i would of curse advocate that all [PR](https://mypdns.org/my-privacy-dns/porn-records) blacklist maintainers forced their commit to one place, (guess where); this is related to my dre

[2022-02-26 09:37] SodaWithoutSparkles opened #671 "[Add request] - porn ads"
## URL you wish to be added:
[code]
Edit:
Found on the same site
[code]
Edit2:
[code]
Edit3:
[code]

## Why you believe this should be added:
They serve porn ads.

## Add to list:
Ads, maybe also on porn

## Other info you think we should know:

### Samples
[code]
Edit:
[code]
Edit3:
[code]
Found on `https://m.wanben.org/16578/11366518.html` ([urlscan](https://urlscan.io/result/6c1227db-e457-43f0-

[2022-02-26 23:59] thomasmerz commented on #661
Who knows? 🤔

[2022-02-27 13:13] SodaWithoutSparkles commented on #671
Please add them to the ads list.

[2022-02-27 22:12] p1r473 opened #680 "[Remove Request] - inflation.us"
URL you wish to be removed: inflation.us

Why you believe this to be a false positive: This is a false positive. This is a website related to inflation statistics. Not malicious.

List it is on: abuse.txt malware.txt

[2022-02-27 23:39] fishcharlie commented on #641
@xjrb10 How did you come across these domains? There is some discussion about ripping concerns here: https://github.com/blocklistproject/Lists/pull/678#pullrequestreview-894538826.

[2022-02-28 00:20] xjrb10 commented on #641
@fishcharlie *my profile pic was from one lmao*

I'm not ripping anyone here, these are some well-known imagebooru sites... I don't know how these lists contain the most obscure domains and subdomains out there, but not these

[2022-02-28 01:43] Dynasty-Dev opened #681 "Pihole warning"
Hello, i added your phishing protection list but i get the error when updating pihole gravity
![image](https://user-images.githubusercontent.com/89283708/155910849-90e63e8e-f3f2-45f0-91a4-ee94971c3cba.png)

[2022-02-28 02:59] cryptogap commented on #681
Will look into this right now

[2022-02-28 09:58] SodaWithoutSparkles commented on #681
I think the Φ is the problem?

[2022-02-28 18:17] DonPicciotto opened #682 "[Remove Request] -"
URL you wish to be removed:
tracker.opentrackr.org

Why you believe this to be a false positive:
A torrent tracker, should be harmless

List it is on:
https://raw.githubusercontent.com/blocklistproject/Lists/master/ads.txt

[2022-03-01 22:34] thomasmerz commented on #628
@cryptogap , I wonder why my Pi-hole with this current phishing-list still contains the first one (госуспуги.рф)!?

<img width="613" alt="grafik" src="https://user-images.githubusercontent.com/18568381/156259372-7db1729f-abc7-4b48-9134-ad5c0b086cfd.png">

[code]

[code]

I open this PR #683 - please review and merge. Thanks!

[2022-03-01 23:00] thomasmerz commented on #681
@Dynasty-Dev , this IDN domains should have been removed in issue #628, but something didn't work!? I already made a new PR 😁

[2022-03-01 23:03] thomasmerz commented on #680
When I'm trying to open this URL I get the following info (outside Pi-hole) 🤷🏻‍♂️

<img width="674" alt="grafik" src="https://user-images.githubusercontent.com/18568381/156263473-0a024bb0-03d9-4b03-9d9a-af6fd109f6f5.png">

[2022-03-02 00:43] p1r473 commented on #680
Works for me
![Screenshot_20220301-194233](https://user-images.githubusercontent.com/9235633/156272958-4fa1888c-eda8-4515-a999-844b9b3f4828.png)

[2022-03-02 09:56] thomasmerz commented on #637
@PeterDaveHello It is indeed actively maintained. Please be patient - the maintainers do this in their spare time, it's not their job.

[2022-03-02 10:00] PeterDaveHello opened #684 "[Remove Request] - `smarturl.it` / `www.smarturl.it`"
URL you wish to be removed:

- `smarturl.it`
- `www.smarturl.it`

Why you believe this to be a false positive:

It's a URL redirect service, just like the other short url services, not unusual to be leveraged by attackers, but the service itself it's not harmful.

None of of these secure DNS below blocked it:

 - OpenDNS
 - Cloudflare
 - Yandex
 - AkamaiETP
 - SafeDNS
 - CleanBrowsing
 - Neustar

[2022-03-02 18:18] spirillen commented on #684
@PeterDaveHello It is tracking, all url redirector (shorteners) is about tracking user activities, and most of them uses cookies for this. To avoid the third party cookie blocking, they uses this redirect to become first party cookie.

And personally, I would never follow a link I can't see the destination of. https://mypdns.org/mypdns/support/-/wikis/contributing/Writing-Guide#links

[2022-03-03 08:19] PeterDaveHello commented on #684
Hi @spirillen, thanks for your feedback, I fully understand that part, just thinking about if URL shorteners are simply equal to or categorized into phishing?

If it's clear that a tracker is not equal to a phishing site, distinguishing them may be important?

[2022-03-03 11:03] xjrb10 opened #685 "[Remove Request] - `freerice.com` UN-WPF Minigame"
URL you wish to be removed:
freerice.com

Why you believe this to be a false positive:
It is a United Nations World Food Programme Minigame

List it is on:
[Malware](https://blocklistproject.github.io/Lists/alt-version/malware-nl.txt)
[Abuse](https://blocklistproject.github.io/Lists/alt-version/abuse-nl.txt)

Other info you think we should know:
None

[2022-03-03 19:48] spirillen commented on #684
personally I add these as `Redirector` and `Tracking` by default as you can see in this issue template (https://mypdns.org/my-privacy-dns/matrix/-/blob/master/.gitlab/issue_templates/Redirecting.md) If you think of two other typically use cases there are AdWare and SpyWare, But I believe this as default out of the general scope.

[2022-03-04 14:02] MySoul182 opened #686 "[Remove Request] - shifen.com"
URL you wish to be removed:shifen.com

Why you believe this to be a false positive:阻止了这个域名会访问不了www.baidu.com

List it is on:https://blocklistproject.github.io/Lists/adguard/tracking-ags.txt

Other info you think we should know:因为shifen.com和baidu.com两台域服务器其实是同一台服务器，而baidu.com对www.baidu.com进行别名转换的时候，其实是会直接返回shifen.com域服务器的ip的

[2022-03-07 11:23] IcedEagle opened #687 "[Remove Request] - taylorandng.com"
URL you wish to be removed: taylorandng.com and www.taylorandng.com

Why you believe this to be a false positive: This is an Asian cookware company. I was trying to buy a wok from them.

List it is on: fraud-nl.txt

Other info you think we should know:

[2022-03-09 16:21] TruthfullEdward opened #688 "[Add request] 614 + 760 p*rn domains to be added to blocklist"
URL you wish to be added: see attachment

Why you believe this should be added: To improve the blocklistprojects p*rnlist

Add to list: All URL's in the two .txt files from the attachment.

Other info you think we should know: There are two lists: one with www and the other one without. The two lists have been sorted alphabetically and duplicates were removed. Trailing slashes and https(s) were re

[2022-03-09 18:46] spirillen commented on #688
Just a random pick from the last line... https://mypdns.org/my-privacy-dns/porn-records/-/issues/6242 `zoozhamster.com`

![image](https://user-images.githubusercontent.com/44526987/157509455-29cf4961-eaeb-44e8-9932-a856b7e3da71.png)

This is not a blame & claim it is a pointer to why we all might benefit from working together rather than, wee My list is bigger than yours, yes but mine have less FP

[2022-03-09 20:09] TruthfullEdward commented on #688
@spirillen Normally all sites should have p*rnograpic content. More severe than just adult-related things.
Please tell me after the bot completed its tests and controls, how accurate my list was (should be very accurate). I will wait for your feedback. Thanks for having taken action so quickly.

[2022-03-09 22:45] spirillen commented on #688
Unfortunately I don't have such data, but maybe Dante (https://mypdns.org/dante) can give you some numbers. as he owns the bot

[2022-03-09 23:30] TruthfullEdward commented on #688
@spirillen That would be nice to get some feedback.
I've checked all sites myself and I can confirm that every site has p*rnographic content or was made to guide people to sites or to 'directions' where such content is shown. This time I have not put any twitter or reddit sites in the files, since I know these cannot be used for the blocklist. That's why I hope you will put every single URL into t

[2022-03-11 22:40] spirillen commented on #688
@TruthfullEdward You did notice I do not have any power in this repository? and I copied your suggested lists into my own project?

In that case I'm getting confused for the comment

I shall also inform you that any further discussion regarding my project and my ripping of your lists should be taken at https://mypdns.org/MypDNS/support/-/wikis/ it is not fair in any way to do that in others platfo

[2022-03-13 00:20] ethnh opened #689 "[Remove Request] - torproject.org"
URL you wish to be removed:

torproject.org
checktorproject.org
*.checktorproject.org

Why you believe this to be a false positive:
These sites are far from redirect sites, I'd think😅

List it is on:
All in redirect.txt

[2022-03-14 17:35] TruthfullEdward commented on #688
@spirillen Sorry for the confusion. I meant of course that I hoped that every single URL will be put in the blocklist of the blocklistproject. Whenever I would have said 'your blocklist' I meant of course the blocklistst of the blocklistproject. If I could contribute to your MypDNS, you can always ask. Happy to help.

[2022-03-16 19:52] spirillen commented on #688
You can just sign up, and start using the add-on :smiley: But as said, we take that talk on mypdns, as there are other things moving like a moderator tool by `Dante @cat` or hit me up on https://matrix.to/#/@spirillen:anontier.nl

[2022-03-17 08:32] kprkpr opened #690 "[Remove Request] - competera.net"
URL you wish to be removed: competera.net

Why you believe this to be a false positive: It's a business for see competence prices and compare it

List it is on: Fraud

Other info you think we should know:
I searched the page in Google and it's good voted in different pages of reviews and seems a legit page, like others that does this type of business

[2022-03-17 12:47] jameskimmel opened #691 "[Remove Request] -"
URL you wish to be removed:
urbandictionary.com

Why you believe this to be a false positive:
It is not porn

List it is on:
master/porn.txt

[2022-03-18 15:18] gianniferrai opened #692 "[Remove Request] - pradelletorri.it"
URL you wish to be removed:
pradelletorri.it

Why you believe this to be a false positive:
legitimate domain

List it is on:
blocklist-malicious

Other info you think we should know:
Thankyou

[2022-03-20 14:21] alanjacobmathew opened #693 "[Add request] Ad + Fraud(Borderline)"
URL you wish to be added:
`https://mcafee.software-reminder.cloud/WW/utility/mcf/promo/LP03/V09d.php?lpkey=1608470e78a5731f94&domain=cnvpro.xyz&region=Assam&bb=0&isp=Jio&language=en-IN&uclick=h9ojqdxo0&uclickhash=h9ojqdxo0-h9ojqdxo0-wfrn-0-bzm7-ktvc-rn17-9eb7d0`

Why you believe this should be added:
`Ads promoted by McAfee's Affiliate partners `

Add to list:
Ad

Other info you think we should kn

[2022-03-20 15:35] iam-py-test commented on #693
I think this should be added to the Scam list, based on your screenshots.
Where did you get this from? The link seems to be locked to your IP/browser, [so just returns a blank page](https://app.any.run/tasks/3e4acd4e-a879-422a-b12e-29f792f52a27)

[2022-03-20 15:36] spirillen commented on #693
Wee long time since I saw scareware...

[2022-03-20 15:38] spirillen commented on #693
I'm drawing a black page as well

[2022-03-20 15:39] spirillen commented on #693
Hmm gives me spyware

![image](https://user-images.githubusercontent.com/44526987/159170368-5cdc05a4-a9e2-4ec9-84c7-ad716713fe03.png)

[2022-03-20 15:41] iam-py-test commented on #693
Probably because you are using Tor Browser (far too many pages think anyone using Tor is trying to DDoS them :( )

[2022-03-20 15:50] spirillen commented on #693
It is all about ClaoudFlare and the censorship and anti democracy acts. If you like there are actually some people who have spend some hours of the life to write more about this, nor saying I'm all into it, but there are for sure some good pointers: https://mypdns.org/admin/projects/counterculture/right-to-be-offline & https://mypdns.org/dCF/deCloudflare

[2022-03-20 15:51] iam-py-test commented on #693
Returns 404

[2022-03-20 16:21] spirillen commented on #693
not 404 but request sign in... weird he just posted it yesterday

[2022-03-20 16:53] iam-py-test commented on #693
Ok, that one works. Thanks
However, there isn't anything I can do about Cloudflare, and that isn't relevant is any way to this malicious website

[2022-03-20 17:31] spirillen commented on #693
Try this one, it is a start :smile:

`*.ns.cloudflare.com.rpz-nsdname CNAME .` in your RPZ zone file

[2022-03-20 18:47] alanjacobmathew opened #694 "[Add request] Piracy"
URL you wish to be added:

[code]

Why you believe this should be added:
Torrent proxies

Add to list:
Piracy / Torrent

Other info you think we should know:

[2022-03-20 19:08] alanjacobmathew commented on #693
Even I'm getting a blank page now. Source: A pop-up redirect from tamilmv.unblockit.app

[2022-03-24 22:44] spirillen commented on #688
Try this one guys...

[code]

this is less faulty than your current
[code]

as it removes all the fucked dead google domain that redirects to `the big fuck your privacy.com`

[2022-03-24 23:49] TruthfullEdward commented on #688
@spirillen What do you mean f*** privacy? How come these top-level-domains are so different from the simple .com ? And why should this be changed in the blocklist?

[2022-03-25 00:23] spirillen commented on #688
Blogspot.$tld is google right?

How come these top-level-domains are so different from the simple .com ? And why should this be changed in the blocklist?

I'm giving you a bit of homework here, that might be the best way to make you understand this.

You know what a HTTPS response code is? [2xx](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes#2xx_success) and [3xx](https://en.wikipedia.org

[2022-03-25 01:02] spirillen commented on #688
[code]

As you can see we get a new location ending in `.com` this means every single non `blogspot.com` is 100% toxic waste

[2022-03-25 07:03] TruthfullEdward commented on #688
@spirillen So basically if we would block the .co.id page or put it in our blocklist, we would actually block the .com page, but the .co.id still remains. Or am I seeing this wrong. And, could those extended top-level domains be used to make pages that slip through filtering (not my intention but just a question, cause I've encountered multiple of when trying to find adresses for add requests).

[2022-03-25 08:09] spirillen commented on #688
You can safely remove all on `.blogspot.com` as they all are redirecting ti the `.blogspot.com`

The only reason they do not replies with `HTTP 302` is to add load to other search engines, like they could figure out to make a rule to ditch that.

and??? it is redirecting to `.com` so why waste the space and brake things with dumb toxic records? if a domain redirects with `301`, `302`, `307` or `30

[2022-03-25 20:11] BirdInFire opened #696 "[Add request] [Porn] 9hentai.to"
URL you wish to be added: 9hentai.to

Why you believe this should be added: This is a 18+ Domain

Add to list: Porn

Other info you think we should know: It's a domain from the already added 9hentai.ru who show the same website, maybe a try to circumvent blocking.

[2022-03-26 06:58] TruthfullEdward commented on #688
@spirillen And how come I can't put any URL's longer than _sampleUrl.com_ in the blocking list? For example: https://www.reddit.com/r/Ryan/. Why can't such specific pages be blocked?

[2022-03-26 17:01] shruuub opened #697 "[Remove Request] -"
URL you wish to be removed: torproject.org

Why you believe this to be a false positive:
Tor is a software to anonymize. Not a redirect link by any means.

List it is on: redirect.txt

[2022-03-26 17:12] shruuub commented on #697
sorry, its a double

[2022-03-26 17:12] #697 closed

[2022-03-26 23:39] Yasin0ps opened #698 "[Remove Request] -"
URL you wish to be removed:
point3.net

Why you believe this to be a false positive:
Not a porn website. Security Related website offering training and bootcamps.

List it is on:
https://blocklistproject.github.io/Lists/porn.txt

Other info you think we should know:
https://twitter.com/point3sec

[2022-03-27 15:19] spirillen commented on #688
???

What, where, when??? what is the topic in your question? If it is regarding the browser add-on you have to ask Dante here https://mypdns.org/infrastructure/mypdns-report

[2022-03-27 15:26] spirillen commented on #696
<details><summary>note to self (@spirillen)</summary>

Added at mypdns Oct 08, 2021 https://mypdns.org/my-privacy-dns/porn-records/-/issues/1363, https://mypdns.org/my-privacy-dns/porn-records/-/commit/50bf20246f22ede0364314a47ff2b8e11c7ebc0f

</details>

[2022-03-27 16:05] TruthfullEdward commented on #688
@spirillen No, in the first add request I sended, I added four of similar URL's. Apparently they couldn't be added.
![Schermafbeelding 2022-03-27 180525](https://user-images.githubusercontent.com/99840866/160290241-64271389-e3cc-4715-8df0-e56053157211.png)

[2022-03-27 17:49] spirillen commented on #688
Ahh ok, that's not me it is @thomasmerz you have to ask

[2022-03-27 18:16] TruthfullEdward commented on #664
@thomasmerz Why can't such URL's be added to the blocklist?
![image](https://user-images.githubusercontent.com/99840866/160294975-faaa025b-3307-4571-a0d5-dd45a6f45aad.png)

[2022-03-27 20:44] thomasmerz commented on #688
The screenshot should already explain WHY some "domains" couldn't be added.

[2022-03-27 20:52] TruthfullEdward commented on #688
@thomasmerz Well, yes host-name format can't be filtered. But I still do not get why URL's like https://www.reddit.com/r/Ryan/ can't be blocked by adding it to the blocklist. Cause access is denied for every URL in the list, so why can't these be in that list too?

[2022-03-27 20:55] thomasmerz commented on #664
The screenshot should already explain WHY some "domains" couldn't be added:
Pi-hole can only use and filter `sub.domain.tld` ("hostnames" and/or domainnames) and not URLs (the part after `https://somehost.somedomain.topleveldomain` like `/somepath/`).

[2022-03-27 20:58] thomasmerz commented on #688
Pi-hole works only on DNS level,
not on URL level. From the official Pi-hole documentation:

[2022-03-27 21:02] thomasmerz commented on #688
I also have no clue how to prevent my kids watching porn on Reddit without filtering Reddit (which also has some good reddits at all 🤷🏻‍♂️😱🥺

[2022-03-28 04:25] spirillen commented on #688
Squid or ublock origin have a few rules for squid here https://mypdns.org/my-external-stuff/ublock-origin-rules

[2022-03-31 01:08] Admiral-Noisy-Bottom opened #699 "[Remove Request] -"
URL you wish to be removed:
https://mmcrts.com
https://www.mmcrts.com

Why you believe this to be a false positive:
This site used to be hosted elsewhere. It was taken down and rebuilt and now has a different host.

List it is on:
https://blocklistproject.github.io/Lists/malware.txt:
https://blocklistproject.github.io/Lists/abuse.txt:

Other info you think we should know:
Love the work you do, tha

[2022-03-31 16:08] pinkworld123 opened #700 "support for pfBlockerNG devel pfsense"
Lists are not working for pfBlockerNG devel, for example below links are not working.

https://raw.githubusercontent.com/blocklistproject/Lists/master/torrent.txt
https://blocklistproject.github.io/Lists/torrent.txt
https://blocklistproject.github.io/Lists/alt-version/torrent-nl.txt
https://blocklistproject.github.io/Lists/dnsmasq-version/torrent-dnsmasq.txt
https://blocklistproject.github.io/List

[2022-03-31 16:42] spirillen commented on #700
Try to look in your logs, you will probably notice that you can't use anything hosted over secure connections. I have reported this to pfsense but they closed the issue as they are not going to support HTTPs

[2022-03-31 16:51] pinkworld123 commented on #700
Thanks for reply.

I have already tried https://raw.githubusercontent.com/StevenBlack/hosts/master/alternates/fakenews-gambling-porn/hosts

this works fine its also https. I think it should be some syntax error in blocklistproject list.

[2022-04-01 11:10] TruthfullEdward commented on #688
@spirillen Did Dante already pass the URL's through his filter? Can you please share the results?

[2022-04-01 11:31] thomasmerz commented on #688
UBO is no solution because the kids already know how to change some settings or pause UBO.
The only thing that will work is a transparent proxy (squid) that can't be bypassed - but wait… I've seen them already using some VPN-browser-extensions 😞

I doubt that I really can hold them off without talking to them WHY they shouldn't consume this 🤷🏻‍♂️

[2022-04-01 11:43] spirillen commented on #700
which module do you try to add the lists, there are several options in pfsense

[2022-04-01 11:50] pinkworld123 commented on #700
@spirillen module/plugin  pfBlockerNG devel

thanks

[2022-04-01 11:50] spirillen commented on #688
Exactly my point on the NSFW lists, learn your kids about sex and how it is good and the that the porn sites is a 4 position for the sake of recording the boring sex. Sex good, sex is necessary, be open about it, my kids god open an honest responsive to there questions since kindergarten. I have never had negative results to it... And how was it again when you became a teenager... Search: `xxx` cl

[2022-04-01 11:52] spirillen commented on #688
Yes all have been ran through the filters. the result you need to either search through the API or ask Dante, I know you keep trying to make me ran mypdns support here, I'm not

[2022-04-01 15:30] TruthfullEdward commented on #688
@spirillen And is there an easier way than trying to contact Dante through Matrix?

[2022-04-01 15:30] TruthfullEdward commented on #688
@spirillen And is there an easier way than trying to contact Dante through Matrix?

[2022-04-01 16:22] rh-fcristin commented on #219
osb-v2.samsungqbe.com record block OTA firmware updates on newer TV like QN90 and even Q60 series, both are on latest firmwares.
It possibly break also initial TV configuration along with osb-apps-v2.samsungqbe.com record, my initial issue was found when reinstalling of the Q60 via smartthings android app, the procedure was failing. After unlocking both records it works flawlessly.

[2022-04-01 17:21] spradeep opened #701 "[Add request]"
URL you wish to be added: https://india-wheel.pu020ev.com/?lang=en&st=29mtkfgt&s1=popindiaadts2211&s2=&s3=&s4=&s5=&pc=30&form_phone={form_phone}&form_email={form_email}&trId=c93j8g1ct2h3m4s0qt40&source=

Why you believe this should be added: gambling

Add to list: gambling

Other info you think we should know:

[2022-04-01 17:24] spradeep opened #702 "[Add request]"
URL you wish to be added: https://swallowcrockerybless.com/n2ymv15m7p?key=0f22c1fd609f13cb7947c8cabfe1a90d&submetric=14213579

Why you believe this should be added: redirect

Add to list: redirect

Other info you think we should know:

[2022-04-01 23:38] spirillen commented on #700
I mean whic of pfsences modules

firewall
dns
blacklist
proxy blacklist
?? which one post me a link and I spend a minute on it for you

[2022-04-01 23:41] spirillen commented on #688
nope

[2022-04-01 23:43] spirillen commented on #688
No clue I have nothing to do with this project from harvest your commits as you "failed" to add them to my project :wink:

[2022-04-02 01:16] Garrison88 commented on #681
I just used this list today and am seeing this error in the phishing list:
Number of invalid domains on this list: 1

Last update was March 1st

[2022-04-02 08:30] TruthfullEdward commented on #688
@spirillen Don't you use my list for your project as well? Cause I would allow you to do.

[2022-04-02 09:07] spirillen commented on #688
Do you hold a list on your own as well?

[2022-04-02 13:33] thomasmerz commented on #681
See my PR from Mar 1st.

[2022-04-02 15:41] rh-fcristin opened #703 "[Remove Request] - Samsung newer smart TVs FOTA and app store"
URL you wish to be removed:
osb-v2.samsungqbe.com
osb-apps-v2.samsungqbe.com

Why you believe this to be a false positive:
blocking those domains breaks OTA firmware updates (osb-v2.samsungqbe.com) and the app store (osb-apps-v2.samsungqbe.com) on newer samsung smart TV, tested on Q60 and QN90 series (both on latest fw). It possibly break also initial TV configuration, my initial issue was found w

[2022-04-02 17:21] Dynasty-Dev commented on #681
is this list no longer updated? it seems dead

[2022-04-02 17:29] Dynasty-Dev opened #704 "[Remove Request] - graph.instagram.com"
URL you wish to be removed:

graph.instagram.com
Why you believe this to be a false positive:

List it is on:
Ads

Other info you think we should know:

[2022-04-02 17:45] thomasmerz commented on #681
From their Discord Server:

https://discord.com/channels/945007498186879016/945007498665017366/956908948794015744

[2022-04-02 19:34] spirillen opened #705 "[Remove Request] - 7eme-ciel.com"
URL you wish to be removed:

Why you believe this to be a false positive: https://mypdns.org/my-privacy-dns/porn-records/-/issues/146338

List it is on: porn

Other info you think we should know:

[2022-04-02 19:43] spirillen opened #706 "[Remove Request] - lehne.de"
URL you wish to be removed:

Why you believe this to be a false positive:https://mypdns.org/my-privacy-dns/porn-records/-/issues/146378

List it is on:porn

Other info you think we should know:

[2022-04-02 19:51] spirillen opened #707 "[Remove Request] - absolut.com"
URL you wish to be removed:

Why you believe this to be a false positive:https://mypdns.org/my-privacy-dns/porn-records/-/issues/146400

List it is on:porn

Other info you think we should know:

[2022-04-02 19:55] spirillen opened #708 "[Remove Request] - actanal.com"
URL you wish to be removed:

Why you believe this to be a false positive:https://mypdns.org/my-privacy-dns/porn-records/-/issues/146414

List it is on:porn

Other info you think we should know:

[2022-04-02 23:41] vlsaurus1 opened #709 "[Add request]"
URL you wish to be added: porngif.cc

Why you believe this should be added: porn

Add to list: porn

Other info you think we should know:

[2022-04-03 02:09] spirillen opened #710 "[Remove Request] - 123-counter.net"
URL you wish to be removed:

Why you believe this to be a false positive:https://mypdns.org/my-privacy-dns/matrix/-/issues/978636

List it is on:porn

Other info you think we should know:

[2022-04-03 21:21] p1r473 opened #711 "[Remove Request] - cdn2.hubspot.net"
URL you wish to be removed: cdn2.hubspot.net

Why you believe this to be a false positive:
This is a Content Delivery Network (CDN) that serves static images and resources for the Hubspot network
This broke the layout of this page for me: https://www.varonis.com/blog/netcat-commands

List it is on:
/phishing.txt

Other info you think we should know:

[2022-04-04 15:44] dtavilez opened #712 "Invalid Domains"
I'm brain dead at the moment and can't figure out why I'm getting 15 invalid domains when adding this list.

<html>
<body>

Health status of this list: | List download was successful (OK)
-- | --
This list was added to Pi-hole | a few seconds ago (2022-04-04 10:33:16)
Database entry was last modified | a few seconds ago (2022-04-04 10:33:16)
The list contents were last updated | a few seconds ago 

[2022-04-04 17:19] spirillen commented on #712
It can be a mixed line ending

LF != CRLF

[2022-04-04 18:28] BrettDikeman opened #713 "[Remove Request] - cacerts.thawte.com and status.thawte.com"
URL you wish to be removed:
status.thawte.com
cacerts.thawte.com

Why you believe this to be a false positive:

status.thawte.com is the ocsp server for Thawte, and cacerts.thawte.com is the root CA certificate server.

List it is on:

Lists-master grep -R thawte.com *
adguard/everything-ags.txt:||cacerts.thawte.com^
adguard/everything-ags.txt:||status.thawte.com^
adguard/ads-ags.txt:||cacerts.tha

[2022-04-06 17:02] thomasmerz commented on #712
@dtavilez , which list(s) in detail did you use?
[code]

Regarding `госуспуги.рф` there already a PR #683 waiting to be merged (properly this weekend as @cryptogap wrote on Discord).

[2022-04-06 17:05] thomasmerz commented on #712
BTW:
Did you know?
[code]
Have a look at https://oisd.nl/includedlists/

[2022-04-06 17:08] thomasmerz commented on #704
It's also on some other blocklists that I know/use:
[code]

[2022-04-06 17:08] thomasmerz commented on #704
@cryptogap , should we also add `graph.facebook.com`, too?
[code]

[2022-04-06 17:10] thomasmerz commented on #702
This domain `swallowcrockerybless.com` is already on other blocklists:
[code]

[2022-04-06 17:12] thomasmerz commented on #701
This really looks like gambling of the nastier kind… Should be blocked 👍🏻

[2022-04-06 17:14] thomasmerz commented on #709
It's also on some other blocklists that I know/use:
[code]

[2022-04-06 17:16] thomasmerz commented on #694
How does anyone test/validate these requested domains? 🤷🏻‍♂️

[2022-04-06 17:17] thomasmerz commented on #691
Totally agree:
https://en.wikipedia.org/wiki/Urban_Dictionary

[2022-04-06 17:19] dtavilez commented on #712
I got it figured out! Sorry for the inconvenience and appreciate the follow up's!

[2022-04-06 19:23] TruthfullEdward commented on #688
@spirillen Umm, I make the lists myself, but don't make them on my Github. Just upload them as .txt. So dunno if that's what you meant.

[2022-04-06 20:03] thomasmerz commented on #712
So this issue is no issue any more and you'll close it?

[2022-04-06 20:15] thomasmerz commented on #687
Agree - see https://www.startpage.com/sp/search?q=taylorandng.com 👍🏻

<img width="867" alt="grafik" src="https://user-images.githubusercontent.com/18568381/162063141-ef5ef873-4d11-4fe7-bb0d-7e2daa18f29d.png">

[2022-04-06 20:21] thomasmerz commented on #707
Alcohol/Vodka is no porn 👍🏻

[2022-04-06 20:22] thomasmerz commented on #707
But I couldn't find `absolut.com` in any lists…!? 🤔

[2022-04-06 20:23] thomasmerz commented on #706
I checked this out - it's about stock markets:

Börse Finanzen Megatrends
Speaker Autor Coach Mentor

[2022-04-06 20:38] thomasmerz commented on #710
Sorry, but I couldn't find this in any list over here… 🤔

[2022-04-06 20:42] #712 closed

[2022-04-06 20:42] dtavilez commented on #712
It’s been closed.  From: thomasmerzSent: Wednesday, April 6, 2022 3:04 PMTo: blocklistproject/ListsCc: Duncan; MentionSubject: Re: [blocklistproject/Lists] Invalid Domains (Issue #712) So this issue is no issue any more and you'll close it?—Reply to this email directly, view it on GitHub, or unsubscribe.You are receiving this because you were mentioned.Message ID: ***@***.***> 

[2022-04-06 20:54] thomasmerz commented on #711
I also made a PR on another blocklist-repo - https://github.com/RPiList/specials/pull/744
[code]

[2022-04-06 20:56] thomasmerz commented on #699
Agree to remove these false positives - see https://www.startpage.com/sp/search?q=mmcrts.com

<img width="857" alt="grafik" src="https://user-images.githubusercontent.com/18568381/162069363-24262c72-060e-4d01-a69f-fc4ed17411a6.png">

[2022-04-06 20:59] thomasmerz commented on #698
Sorry, I couldn't find `point3.net` in this repo over here… 🤔
https://github.com/blocklistproject/Lists/search?q=point3.net

[2022-04-06 21:00] thomasmerz commented on #696
Agree 👍🏻
[code]

[2022-04-06 21:05] thomasmerz commented on #692
https://www.startpage.com/sp/search?q=pradelletorri.it seems legit 👍🏻

[2022-04-06 21:09] thomasmerz commented on #690
https://www.startpage.com/do/dsearch?query=competera.net looks good 👍🏻

<img width="891" alt="grafik" src="https://user-images.githubusercontent.com/18568381/162071439-9cff59b2-05df-4d15-98ce-ca68e1575a2a.png">

[2022-04-06 21:13] thomasmerz commented on #689
I agree with `torproject.org` but not with `*.checktorproject.org`because:
[code]

[2022-04-06 21:18] thomasmerz commented on #686
Agree, it has also been removed from other lists some time ago 👍🏻
https://blocklist-tools.developerdan.com/entries/search?q=shifen.com

The "[Quantum Ad List](https://gitlab.com/The_Quantum_Alpha/the-quantum-ad-list/-/commits/master)" from this link had its last commit about 10 months ago - seems to be unmaintained… 🤷🏻‍♂️

[2022-04-06 21:29] thomasmerz commented on #684
BTW: It's also on other blocklists:
[code]

[2022-04-06 21:31] thomasmerz commented on #661
@cryptogap , no answer from @jesse9212. Please close this issue.

[2022-04-06 21:39] EthanHindmarsh commented on #689
RE: Thomas
Fair enough, allowing torproject alone will solve my issue anyway 👍

[2022-04-07 09:09] PeterDaveHello commented on #684
RPiList seems to have a more False Positive cases, including `opensea.io` and other URL shorteners 😅

[2022-04-07 09:12] thomasmerz commented on #684
@PeterDaveHello , feel free to report those in an [issue](https://github.com/RPiList/specials/issues/new) or fix them with a PR 😃

[2022-04-07 10:12] PeterDaveHello commented on #684
@thomasmerz sure, I'll send a few, but can't do for all those FPs I found, too many though 😅

[2022-04-07 10:32] thomasmerz commented on #684
If you've already found them: why not remove them all instead of only some of them? 😕
Open an issue with all false positive domains to be removed and I'll be thinking about a PR… Deal?

[2022-04-09 08:57] what-aboot opened #730 "[Add request]"
URL you wish to be added: www.songlytics.net

Why you believe this should be added:
An offline music player on my phone is sending packets to a song choice analytics site which openly admits to tracking songs chosen by listeners (even if the music library used is a personal one, and the "share to cloud" options in settings are switched off) with the view to notifying Spotify to update playlists. D

[2022-04-11 09:00] korkmazk opened #731 "[Add request] typo in gambeling list"
URL you wish to be added:
staatsloterij.nederlandseloterij.nl

Why you believe this should be added:
Typo in list: statsloterij.nederlandseloterij.nl should be st**aa**tsloterij.nederlandseloterij.nl

Add to list:
staatsloterij.nederlandseloterij.nl

Other info you think we should know:
The list already contains this website, however with a typo so not being blocked.

[2022-04-11 19:53] TruthfullEdward commented on #688
@spirillen Please write me back as soon as possible via Nheko. Roomname where you were invited to : _Github and mypdns: blocklist_.

[2022-04-15 15:38] gallegonovato opened #732 "Doubt with hosts"
Good afternoon:

First of all thank you very much for your time and help.

I use your hosts, but I have a question. I don't know if there is one of yours that includes everything from https://github.com/blocklistproject/Lists#main-lists

Thank you for your time and help.

[2022-04-15 19:15] #732 closed

[2022-04-15 21:41] kevinholtkamp commented on #731
"Add to list" probably should be gambling.txt, right?

[2022-04-15 21:49] kevinholtkamp opened #733 "[Add request] Discord scam/phishing site"
URL you wish to be added:
discorcl-nltro.xyz

Why you believe this should be added:
This is a scam site, luring in people by advertising free discord nitro

Add to list:
scam.txt / phishing.txt

Other info you think we should know:
A friend of mine got hacked and sent everyone a link to this website (discorcl-nltro.xyz/giftcode to be exact)

[2022-04-20 00:16] mauris opened #734 "[Remove Request] - supertokens.com"
URL you wish to be removed:
`supertokens.com`

Why you believe this to be a false positive:
The website generally provides services, documentation, blog information. The redirector service is likely to be a subdomain or subpath.

List it is on:
`redirect.txt`

Other info you think we should know:
Nil

[2022-04-20 01:33] mauris opened #735 "[Remove Request] - deliveroo.com.sg"
URL you wish to be removed:
`deliveroo.com.sg`

Why you believe this to be a false positive:
It's a food delivery service website, not advertisement

List it is on:
`ads.txt`

Other info you think we should know:
Nil

[2022-04-21 11:43] Obegg opened #736 "[Remove Request] - s01.solidfilesusercontent.com"
URL you wish to be removed:
s01.solidfilesusercontent.com

Why you believe this to be a false positive:
It is used to download files from https://www.solidfiles.com/

List it is on:
 - https://blocklistproject.github.io/Lists/malware.txt
 - https://blocklistproject.github.io/Lists/abuse.txt

[2022-04-23 07:12] Rexadev opened #737 "Deleted"

[2022-04-23 07:14] Rexadev opened #738 "Fork MyPrivacyDNS Reporter browser AddOn"
https://addons.mozilla.org/en-US/firefox/addon/mypdns-report/

Now the project is dead owner will have no problem with it.

[2022-04-23 07:17] Rexadev opened #739 "Deleted"

[2022-04-24 23:13] vsabavat opened #740 "[Remove Request] -"
[i] Target: https://blocklistproject.github.io/Lists/phishing.txt
  [✓] Status: Retrieval successful
  [i] Analyzed 190245 domains, 1 domains invalid!
      Sample of invalid domains:
      - госуспуги.рф

[2022-04-26 08:51] tobifroe opened #741 "[Remove Request] - cdn.plyr.io"
URL you wish to be removed:
cdn.plyr.io

Why you believe this to be a false positive:
This CDN serves static files needed for [plyr](https://github.com/sampotts/plyr), breaking video playback (or rather layout, depending on the implementation) across multiple sites for me.

List it is on:
[ads.txt](https://github.com/blocklistproject/Lists/blob/master/ads.txt)

Other info you think we should know:

[2022-04-27 11:41] mastermc0 opened #742 "[Remove Request] - eu-auth2.samsungosp.com"
URL you wish to be removed:

eu-auth2.samsungosp.com

Why you believe this to be a false positive:

Appears to be used to authenticate Samsumg smart home services.

List it is on:

https://blocklistproject.github.io/Lists/smart-tv.txt

Other info you think we should know:

[2022-04-29 21:39] #685 closed

[2022-04-29 21:40] #686 closed

[2022-04-29 21:40] #689 closed

[2022-04-29 21:40] #690 closed

[2022-04-29 21:40] #692 closed

[2022-04-29 21:40] #696 closed

[2022-04-29 21:41] #699 closed

[2022-04-29 21:41] #711 closed

[2022-04-29 21:41] #713 closed

[2022-04-29 21:44] #704 closed

[2022-04-29 21:45] #701 closed

[2022-04-29 21:45] #687 closed

[2022-04-29 21:46] #681 closed

[2022-04-29 21:47] #669 closed

[2022-04-29 21:48] cryptogap commented on #739
We must get permission to add these

[2022-04-30 05:11] Rexadev commented on #739
@spirillen Will you please give @blocklistproject permission to merge mypdns lists in their lists

[2022-05-01 18:07] nickp85 commented on #704
Blocking graph.facebook.com has stopped Facebook from working. There is a separate Facebook list so I recommend removing it from the Ads list

[2022-05-01 18:09] nickp85 opened #743 "Remove graph.facebook.com from Ads"
Appears to be used for more than Ads. Having it on the Ads list breaks Facebook entirely on iOS mobile app. There is a separate Facebook list so recommend leaving it there only and remove from Ads list as to not break functionality.

[2022-05-01 20:37] thomasmerz commented on #704
@nickp85 , this is partly true:
This PR breaks Facebook App (on iOS in my case).
But on my desktop computer everything still works fine.

Therefore `graph.facebook.com` should be removed from `ads.txt`.
But it's still valid for `facebook.txt` so anyone interested in blocking all Facebook can do this.

@cryptogap , please review and merge my bugfix in PR #744

[2022-05-02 18:25] TruthfullEdward commented on #688
@blocklistproject Dear people of the blocklistproject, please ad this list to your blocklist asap! I wanna ad a new list soon, but can do that only after updating my Pi-Hole blocklist with these new URL's (blocklistproject p*rnlist). The list I gave you was sorted and should be ready to ad.

[2022-05-02 18:28] #709 closed

[2022-05-02 22:40] SeeJayEmm commented on #743
I would also like to see this removed from the ads list. It completely breaks facebook on iOS.

[2022-05-04 07:44] thomasmerz commented on #743
This should already be fixed by PR #744 - please close this issue if I'm right with this statement.

[2022-05-04 14:30] SeeJayEmm commented on #743
I can confirm this is fixed for me.

[2022-05-04 19:35] #691 closed

[2022-05-04 20:32] thomasmerz commented on #743
@nickp85 , can you please close this solved issue?

[2022-05-04 20:38] thomasmerz commented on #740
@vsabavat PR #683 has already removed `госуспуги.рф`.

[2022-05-04 20:39] thomasmerz commented on #740
@cryptogap But there still some fragments left in those files that should not be edited in any PR because they're managed by some GitHub Actions - please check this out:
[code]

The root cause seems to be that the [CI job](https://github.com/blocklistproject/Lists/actions/runs/2271917648) is failing due to:
[code]

[2022-05-04 20:45] thomasmerz commented on #710
@spirillen , did you see my comment? Can you please clarify where you saw `123-counter.net` in this project?
BTW: Why is your GitLab down since some days/weeks? I couldn't also check your linked issue…

[2022-05-05 01:06] nickp85 commented on #743
It does seem to be resolved. Updated gravity and took my whitelist entry out and app still works

[2022-05-08 06:37] alanjacobmathew opened #746 "[Remove Request] - SmarterTravel.com"
URL you wish to be removed:
[code]

Why you believe this to be a false positive:
Blog site

List it is on:
Listed on Ads List

Other info you think we should know:

[2022-05-08 15:24] SodaWithoutSparkles opened #747 "[Remove Request] - ts.market.mi-img.com"
URL you wish to be removed:
`ts.market.mi-img.com`

Why you believe this to be a false positive:
It is required to save settings and download updates on some xiaomi products

List it is on:
Ads

Other info you think we should know:
https://blocklist-tools.developerdan.com/entries/search?q=ts.market.mi-img.com

[2022-05-09 20:19] theyapps opened #748 "[Remove Request] - gdlp01.c-wss.com Canon Printer Driver Software"
URL you wish to be removed:
gdlp01.c-wss.com

Why you believe this to be a false positive:
This is the domain used by Canon to serve printer driver software.

List it is on:
https://blocklistproject.github.io/Lists/malware.txt
https://blocklistproject.github.io/Lists/abuse.txt

Other info you think we should know:
Went to https://www.usa.canon.com/internet/portal/us/home/support/ to get driver sof

[2022-05-10 05:38] theyapps commented on #748
https://github.com/blocklistproject/Lists/pull/749

[2022-05-10 09:33] techroy23 commented on #740
[i] Target: https://blocklistproject.github.io/Lists/alt-version/phishing-nl.txt
  [✓] Status: Retrieval successful
  [i] Analyzed 190245 domains, 1 domains invalid!
      Sample of invalid domains:
      - госуспуги.рф

[2022-05-10 12:04] thomasmerz commented on #740
@techroy23 , please read my previous comment. This is a fragment being left over by a failing GitHub Action that should have removed this "invalid domain" from some more files in some more directories…
@cryptogap , can you please check [this failing CI job](https://github.com/blocklistproject/Lists/actions/runs/2271917648)? Thanks!

[2022-05-10 13:17] dukennl opened #750 "[Remove Request] - duken.nl"
URL you wish to be removed:
duken.nl

Why you believe this to be a false positive:
It is a safe site, no maleware.

List it is on:
maleware

Other info you think we should know:
https://sitecheck.sucuri.net/results/duken.nl

[2022-05-18 12:55] JuanRodenas opened #752 "[Add request] Add Banload ransomware to list Ransomware"
URL you would like to see added:
.jdhhuf.es
.uddhkdlp.es
104.21.91.56
172.67.167.81
31.184.204/24

Why you think it should be added:
- Banload banking ransomware

Add to list:
- /Lists/master/ransomware.txt

Other information you think we should know:

[2022-05-19 19:25] SeeJayEmm opened #753 "[Remove Request] - ns1.com"
URL you wish to be removed:
ns1.com

Why you believe this to be a false positive:
NS1 is an enterprise managed DNS/DDI provider.

List it is on:
Abuse
Malware

Other info you think we should know:
This is their product website and documentation.

[2022-05-20 23:58] TruthfullEdward commented on #688
@spirillen Nheko is down cause my VM crashed. Please contact me here when your internet is back.

[2022-05-24 10:49] Rexadev opened #754 "Fork MyPrivacyDNS Reporter for TheBLocklistProject"
https://addons.mozilla.org/en-US/firefox/addon/mypdns-report/
People can report sites false positives using a browser addon

MyPrivacyDNS belongs to - @mypdns @porn-records @spirillen

[2022-05-26 20:32] wandering-girl opened #755 "[Remove Request] -"
URL you wish to be removed:
101010.pl

Why you believe this to be a false positive:
It's currently the link to a Mastodon instance that isn't strictly about ads or crypto.

List it is on:
It's on the ads and crypto lists.

Other info you think we should know: